# Forcasting Land Prices in Sri Lanka
# Data Cleaning and Preprocessing

In [260]:
import numpy as np
import pandas as pd
from tabulate import tabulate
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from fuzzywuzzy import fuzz
import re

In [261]:
pd.set_option("display.max_rows", 10)

In [262]:
land_2018 = pd.read_csv("../Dataset/New_Data/Land Data - 2018.csv", low_memory=False)

In [263]:
land_2018

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,232745,71194,land,Bare Land,NaN,Fussels lane,Colombo 6,...,Colombo,Colombo,0.0,NaN,NaN,0,1
1,237182,29192,land,Bare Land,NaN,Highlevel Rd.,Nugegoda,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
2,245752,71194,land,Bare Land,NaN,Karshue Avenue,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
3,251172,17540,land,Bare Land,.,NaN,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
4,253432,71194,land,Bare Land,.,Cotta Road,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4648,244330,24754,land,Bare Land,.,Cotta Road,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
4649,267939,17787,land,Bare Land,.,"Its near the TNL studio in Dampe, Piliyandala.",Piliyandala,...,Colombo,Piliyandala,7.0,NaN,36.0,1,1
4650,260599,84838,land,Land with house,NaN,"Station Road, Wellawatte",Colombo 6,...,Colombo,Colombo,0.0,NaN,NaN,0,1
4651,251747,17540,land,Bare Land,.,"Jayanthi Mawatha, Jayanthipura",Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
4652,234530,84838,land,Bare Land,NaN,Ediriweera Avenue,Dehiwala,...,Colombo,Dehiwala,4.0,NaN,24.0,1,1

In [264]:
land_2019 = pd.read_csv("../Dataset/New_Data/Land Data - 2019.csv", low_memory=False)

In [265]:
land_2019

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,281532,43308,land,Bare Land,NaN,NaN,Colombo 5,...,Colombo,Colombo,0.0,NaN,NaN,1,1
1,282881,58343,land,Bare Land,.,Between Duplication Road & Galle Road,Colombo 3,...,Colombo,Colombo,0.0,NaN,NaN,1,1
2,284882,17540,land,Bare Land,.,NaN,Nugegoda,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
3,284884,17540,land,Bare Land,NaN,NaN,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
4,286482,17540,land,Bare Land,Bare Land,NaN,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5494,302588,45415,land,Land with house,.,Subuthipura,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
5495,315790,47233,land,Bare Land,.,Police park terrace,Colombo 5,...,Colombo,Colombo,0.0,NaN,NaN,1,1
5496,324382,17540,land,Bare Land,.,NaN,Homagama,...,Colombo,Homagama,9.0,NaN,121.0,0,1
5497,285676,17540,land,Bare Land,.,NaN,Colombo 6,...,Colombo,Colombo,0.0,NaN,NaN,0,1
5498,323244,17540,land,Bare Land,NaN,NaN,Nawala,...,Colombo,Nawala,57.0,NaN,40.0,0,1

In [266]:
land_2020 = pd.read_csv("../Dataset/New_Data/Land Data - 2020.csv", low_memory=False)

In [267]:
land_2020

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,325873,131934,land,Bare Land,NaN,NaN,Colombo 3,...,Colombo,Colombo,0.0,NaN,NaN,1,1
1,326614,17540,land,Bare Land,.,NaN,Pelawatte,...,Colombo,Battaramulla,52.0,NaN,2010.0,0,1
2,326775,135095,land,Bare Land,.,Samagi Mawatha,Kahathuduwa,...,Colombo,Kahathuduwa,NaN,NaN,172.0,1,1
3,327149,16275,land,Bare Land,.,Walukaramaya Road,Colombo 3,...,Colombo,Colombo,0.0,NaN,NaN,1,1
4,327363,131934,land,Bare Land,NaN,Battaramulla,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5785,385304,129401,land,Bare Land,NaN,NaN,Angoda,...,Colombo,Angoda,38.0,NaN,146.0,1,1
5786,367762,81608,land,Bare Land,NaN,"Buthgamuwa Road, Rajagiriya",Rajagiriya,...,Colombo,Rajagiriya,5.0,NaN,86.0,0,1
5787,365644,37573,land,Bare Land,NaN,Rajamalwatta road,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
5788,328543,58153,land,Land with house,.,Off Flower Road at Flower Terrace,Colombo 7,...,Colombo,Colombo,0.0,NaN,NaN,1,1
5789,361099,27612,land,Bare Land,.,Nawala Rajagiriya Road,Nawala,...,Colombo,Nawala,57.0,NaN,40.0,0,1

In [268]:
land_2021 = pd.read_csv("../Dataset/New_Data/Land Data - 2021.csv", low_memory=False)

In [269]:
land_2021

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,389501,128082,land,Bare Land,.,Punchi Borells Road,Colombo 10,...,Colombo,Colombo,0.0,NaN,NaN,1,1
1,389715,17540,land,Bare Land,.,Kandy Road,Peliyagoda,...,Colombo,Peliyagoda,48.0,NaN,105.0,1,1
2,390477,109940,land,Bare Land,NaN,Malabe,Malabe,...,Colombo,Malabe,8.0,NaN,69.0,1,1
3,390519,132920,land,Bare Land,NaN,Vimala Vihara rd,Nawala,...,Colombo,Nawala,57.0,NaN,40.0,0,1
4,390530,132920,land,Bare Land,NaN,NaN,Rajagiriya,...,Colombo,Rajagiriya,5.0,NaN,86.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7776,428117,154749,land,Bare Land,Bare Land,Jambugasmulla Road,Nugegoda,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
7777,431106,154749,land,Bare Land,.,Kirulapone,Colombo 5,...,Colombo,Colombo,0.0,NaN,NaN,1,1
7778,446649,154749,land,Bare Land,.,Sri Jothikarama Mawatha,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
7779,455389,154749,land,Bare Land,Bare Land,Saraswathie Estate,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
7780,472396,154749,land,Bare Land,.,Kirulapone Junction,Colombo 5,...,Colombo,Colombo,0.0,NaN,NaN,1,1

In [270]:
land_2022 = pd.read_csv("../Dataset/New_Data/Land Data - 2022.csv", low_memory=False)

In [271]:
land_2022

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,486661,163234,land,Bare Land,NaN,Polgahawatta,Neboda,...,Colombo,Kaduwela,11.0,NaN,92.0,0,1
1,486667,163234,land,Bare Land,NaN,Gunarathne Mawatha,Kesbewa,...,Colombo,Kesbewa,60.0,NaN,73.0,1,1
2,486681,17540,land,Bare Land,NaN,NaN,Dehiwala,...,Colombo,Dehiwala,4.0,NaN,24.0,1,1
3,486891,120886,land,Bare Land,NaN,NaN,Wellampitiya,...,Colombo,Wellampitiya,44.0,NaN,87.0,1,1
4,486897,120886,land,Land with house,NaN,Sethsiri Road,Rathmalana,...,Colombo,Rathmalana,59.0,NaN,1830.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18407,5385598,87064,land,Bare Land,NaN,NaN,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
18408,514754,171119,land,Bare Land,NaN,NaN,Pelawatte,...,Colombo,Battaramulla,52.0,NaN,2010.0,0,1
18409,5349832,179970,land,Bare Land,Bare Land,Kadawala Road,Maharagama,...,Colombo,Maharagama,2.0,NaN,43.0,1,1
18410,5376967,17540,land,Bare Land,NaN,NaN,Kottawa,...,Colombo,Kottawa,3.0,NaN,74.0,1,1
18411,502496,155964,land,Bare Land,Bare Land,Unity Park,Malabe,...,Colombo,Malabe,8.0,NaN,69.0,1,1

In [272]:
land_2023 = pd.read_csv("../Dataset/New_Data/Land Data - 2023.csv", low_memory=False)

In [273]:
land_2023

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,5409708,187442,land,Bare Land,NaN,NaN,Rathmalana,...,Colombo,Rathmalana,59.0,NaN,1830.0,1,1
1,5409724,57497,land,Bare Land,NaN,NaN,Kottawa,...,Colombo,Kottawa,3.0,NaN,74.0,1,1
2,5409730,152738,land,Bare Land,NaN,NaN,Malabe,...,Colombo,Malabe,8.0,NaN,69.0,1,1
3,5410080,152738,land,Bare Land,NaN,NaN,Colombo 5,...,Colombo,Colombo,0.0,NaN,NaN,1,1
4,5410129,152738,land,Land with house,NaN,NaN,Colombo 6,...,Colombo,Colombo,0.0,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16212,5547103,194186,land,Bare Land,NaN,NaN,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
16213,5542718,81608,land,Land with house,NaN,"Off Koswatta Road, Nawala",Nawala,...,Colombo,Nawala,57.0,NaN,40.0,0,1
16214,5446833,120689,land,Bare Land,NaN,Malabe,Malabe,...,Colombo,Malabe,8.0,NaN,69.0,1,1
16215,5447305,195582,land,Bare Land,NaN,madapatha,Piliyandala,...,Colombo,Piliyandala,7.0,NaN,36.0,1,1
16216,5520807,3905,land,Bare Land,NaN,Anganpitiya Road,Ethul Kotte,...,Colombo,Ethul Kotte,61.0,NaN,1994.0,1,1

In [274]:
land_col_df = pd.concat([land_2018, land_2019, land_2020, land_2021, land_2022, land_2023], axis=0)

# Resetting the index of the combined DataFrame
land_col_df.reset_index(drop=True, inplace=True)

In [275]:
land_col_df

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,232745,71194,land,Bare Land,NaN,Fussels lane,Colombo 6,...,Colombo,Colombo,0.0,NaN,NaN,0,1
1,237182,29192,land,Bare Land,NaN,Highlevel Rd.,Nugegoda,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
2,245752,71194,land,Bare Land,NaN,Karshue Avenue,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
3,251172,17540,land,Bare Land,.,NaN,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
4,253432,71194,land,Bare Land,.,Cotta Road,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58347,5547103,194186,land,Bare Land,NaN,NaN,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
58348,5542718,81608,land,Land with house,NaN,"Off Koswatta Road, Nawala",Nawala,...,Colombo,Nawala,57.0,NaN,40.0,0,1
58349,5446833,120689,land,Bare Land,NaN,Malabe,Malabe,...,Colombo,Malabe,8.0,NaN,69.0,1,1
58350,5447305,195582,land,Bare Land,NaN,madapatha,Piliyandala,...,Colombo,Piliyandala,7.0,NaN,36.0,1,1
58351,5520807,3905,land,Bare Land,NaN,Anganpitiya Road,Ethul Kotte,...,Colombo,Ethul Kotte,61.0,NaN,1994.0,1,1

In [276]:
# output_csv_path = '../Dataset/New_Data/2018-2023_combined.csv' 
# land_col_df.to_csv(output_csv_path, index=False)

In [277]:
land_col_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58352 entries, 0 to 58351
Columns: 185 entries, ad_id to is_update_g
dtypes: float64(44), int64(17), object(124)
memory usage: 82.4+ MB

In [278]:
land_col_df

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,232745,71194,land,Bare Land,NaN,Fussels lane,Colombo 6,...,Colombo,Colombo,0.0,NaN,NaN,0,1
1,237182,29192,land,Bare Land,NaN,Highlevel Rd.,Nugegoda,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
2,245752,71194,land,Bare Land,NaN,Karshue Avenue,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
3,251172,17540,land,Bare Land,.,NaN,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
4,253432,71194,land,Bare Land,.,Cotta Road,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58347,5547103,194186,land,Bare Land,NaN,NaN,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
58348,5542718,81608,land,Land with house,NaN,"Off Koswatta Road, Nawala",Nawala,...,Colombo,Nawala,57.0,NaN,40.0,0,1
58349,5446833,120689,land,Bare Land,NaN,Malabe,Malabe,...,Colombo,Malabe,8.0,NaN,69.0,1,1
58350,5447305,195582,land,Bare Land,NaN,madapatha,Piliyandala,...,Colombo,Piliyandala,7.0,NaN,36.0,1,1
58351,5520807,3905,land,Bare Land,NaN,Anganpitiya Road,Ethul Kotte,...,Colombo,Ethul Kotte,61.0,NaN,1994.0,1,1

## Time Range

In [279]:
land_col_df['posted_date'] = pd.to_datetime(land_col_df['posted_date'], format='mixed')

# Calculate the minimum and maximum datetime values
min_time = land_col_df['posted_date'].min()
max_time = land_col_df['posted_date'].max()

print("Minimum Time:", min_time)
print("Maximum Time:", max_time)

Minimum Time: 2018-01-01 13:44:10
Maximum Time: 2023-09-12 12:17:00

## Missing value count by column

In [280]:
# Missing value count by column
missing_counts_raw = land_col_df.isnull().sum()

table_data = []
for column, count in missing_counts_raw.items():
    table_data.append([column, count])

print(tabulate(table_data, headers=["Column Name", "missing_counts_raw"], tablefmt="psql"))

+-----------------------------+----------------------+
| Column Name                 |   missing_counts_raw |
|-----------------------------+----------------------|
| ad_id                       |                    0 |
| UID                         |                    0 |
| type                        |                    0 |
| propty_type                 |                    0 |
| service_type                |                50146 |
| street                      |                22452 |
| city                        |                    0 |
| heading                     |                    2 |
| desc                        |                    1 |
| submit_date                 |                    0 |
| posted_date                 |                    0 |
| price                       |                    0 |
| alt_price                   |                    0 |
| alt_currency                |                    6 |
| price_type                  |                 4032 |
| price_monthly               |                    0 |
| price_land_pp               |                    1 |
| price_land_pa               |                    1 |
| price_land_total            |                    1 |
| price_sqft                  |                55451 |
| land_s_l                    |                  204 |
| min_term_days               |                35901 |
| comm_type                   |                58349 |
| agent_ref                   |                31382 |
| agent_page_ref              |                58336 |
| pic                         |                    0 |
| pic_count                   |                 7550 |
| pics_link                   |                57048 |
| youtube_link                |                58284 |
| video_link                  |                58261 |
| 360_image_link              |                58249 |
| contact_type                |                  188 |
| contact_name                |                  993 |
| tel                         |                56574 |
| email                       |                    8 |
| avail                       |                   32 |
| lat                         |                43750 |
| lng                         |                43745 |
| zoom                        |                22200 |
| last_ip                     |                27785 |
| hits                        |                27936 |
| was_active                  |                    0 |
| priority                    |                    0 |
| verified_ad                 |                58352 |
| prev_approved               |                43583 |
| blocked                     |                    6 |
| is_block_house              |                    0 |
| is_prime                    |                58352 |
| is_invest                   |                    0 |
| invest_avg                  |                    0 |
| poster_ip                   |                24628 |
| is_active                   |                    0 |
| is_showcase                 |                58326 |
| boosted_count               |                    0 |
| last_edited                 |                    0 |
| current_page_id             |                 5479 |
| token                       |                36783 |
| developer_name              |                58351 |
| company_address             |                58352 |
| matching_data               |                57854 |
| block_type                  |                54789 |
| block_reason                |                54789 |
| source                      |                36119 |
| apartment_id                |                13390 |
| deactivated_by_system       |                    0 |
| deactivate_messge_send_date |                37346 |
| is_import                   |                    0 |
| SKU                         |                58352 |
| popup_selector              |                    0 |
| number_review               |                    0 |
| is_trending                 |                    0 |
| was_trending                |                    0 |
| trending_date               |                58202 |
| price_validate              |                41719 |
| auto_boost_updated          |                57519 |
| is_sponsored                |                    0 |
| rooms                       |                 5842 |
| wc                          |                 5842 |
| floors                      |                 5842 |
| dist_station                |                30503 |
| dist_busstop                |                30442 |
| dist_school                 |                58352 |
| size_land                   |                 5914 |
| land_units                  |                 5908 |
| land_perch                  |                15018 |
| land_acre                   |                15018 |
| size_house                  |                58323 |
| NEW                         |                 5842 |
| luxury                      |                 5842 |
| FF                          |                 5842 |
| AC                          |                 5842 |
| NET                         |                 5842 |
| TV                          |                 5842 |
| HOT                         |                 5842 |
| SP                          |                 5842 |
| EN                          |                 5842 |
| garage                      |                 5842 |
| parking                     |                36252 |
| garden                      |                 5842 |
| landtel                     |                 5842 |
| water                       |                 5842 |
| 3_elec                      |                 5842 |
| home_sec                    |                 5842 |
| oh_water                    |                 5842 |
| rt_garden                   |                 5842 |
| sec                         |                 5842 |
| id_garden                   |                 5842 |
| servant_room                |                 5842 |
| servant_toilet              |                 5842 |
| beachfront                  |                 5842 |
| waterfront                  |                 5842 |
| colonial                    |                 5842 |
| development                 |                58352 |
| building_age                |                36331 |
| gym                         |                10753 |
| theatre                     |                10761 |
| constructed                 |                31191 |
| big_hall                    |                10753 |
| serviced_apartment          |                32693 |
| available_from              |                36263 |
| primary_usp                 |                58085 |
| furnishing_status           |                58341 |
| short_term                  |                36318 |
| road_frontage               |                36269 |
| wd_approach_road            |                36269 |
| land_shape                  |                50460 |
| brokers                     |                58348 |
| ih_discount                 |                36462 |
| product_status              |                58352 |
| seating_capacity            |                36291 |
| lawn_garden                 |                36279 |
| attached_toilets            |                36279 |
| internet                    |                36280 |
| gated_community             |                36279 |
| cafe_rest                   |                36280 |
| private_pool                |                36280 |
| fated_community             |                58352 |
| pipe_borne_water            |                36279 |
| bbq_area                    |                36280 |
| stream_land                 |                36279 |
| bunglow_inside              |                36279 |
| hilly_landscape             |                14820 |
| lake_land                   |                36279 |
| gem_mining                  |                36279 |
| ideal_com_use               |                36279 |
| survey_plan                 |                36279 |
| soil_test                   |                36279 |
| central_ac                  |                36279 |
| backup_generator            |                36279 |
| fire_detection              |                36279 |
| fiber_int                   |                58352 |
| site_parking                |                36279 |
| lift                        |                36279 |
| grade_a                     |                36279 |
| balcony                     |                36279 |
| club_house                  |                36279 |
| jogging_track               |                36279 |
| laundry                     |                36279 |
| lpw_gas                     |                36279 |
| game_room                   |                36279 |
| kids_area                   |                36279 |
| mini_mart                   |                36279 |
| business_center             |                36279 |
| pet_friendly                |                36279 |
| seperate_kitchen            |                36279 |
| sport_facilities            |                36279 |
| garbage_remove              |                 5842 |
| ih_del_est                  |                58352 |
| investment_size             |                47753 |
| annual_revenue              |                47792 |
| city_no                     |                    0 |
| city_name                   |                    0 |
| region                      |                    0 |
| alt_name                    |                35341 |
| city_lat                    |                    0 |
| city_lon                    |                    0 |
| g_city_lat                  |                    0 |
| g_city_lon                  |                    0 |
| district                    |                    0 |
| main_city                   |                 1417 |
| main_city_id                |                 1381 |
| city_radius                 |                57822 |
| temp_main_city_id           |                 8053 |
| is_update                   |                    0 |
| is_update_g                 |                    0 |
+-----------------------------+----------------------+

In [281]:
# Replace "N" with NaN
land_col_df.replace("N", np.nan, inplace=True)

# Missing value count by column
missing_counts_replaced_N = land_col_df.isnull().sum()

table_data = []
for column, count in missing_counts_replaced_N.items():
    table_data.append([column, count])

print(tabulate(table_data, headers=["Column Name", "Missing Count_replaced_N"], tablefmt="psql"))

+-----------------------------+----------------------------+
| Column Name                 |   Missing Count_replaced_N |
|-----------------------------+----------------------------|
| ad_id                       |                          0 |
| UID                         |                          0 |
| type                        |                          0 |
| propty_type                 |                          0 |
| service_type                |                      50146 |
| street                      |                      22452 |
| city                        |                          0 |
| heading                     |                          2 |
| desc                        |                          1 |
| submit_date                 |                          0 |
| posted_date                 |                          0 |
| price                       |                          0 |
| alt_price                   |                          0 |
| alt_currency                |                          6 |
| price_type                  |                       4032 |
| price_monthly               |                          0 |
| price_land_pp               |                          1 |
| price_land_pa               |                          1 |
| price_land_total            |                          1 |
| price_sqft                  |                      55451 |
| land_s_l                    |                        204 |
| min_term_days               |                      35901 |
| comm_type                   |                      58349 |
| agent_ref                   |                      31383 |
| agent_page_ref              |                      58336 |
| pic                         |                          0 |
| pic_count                   |                       7550 |
| pics_link                   |                      57048 |
| youtube_link                |                      58284 |
| video_link                  |                      58261 |
| 360_image_link              |                      58249 |
| contact_type                |                        188 |
| contact_name                |                        993 |
| tel                         |                      56574 |
| email                       |                          8 |
| avail                       |                         32 |
| lat                         |                      43750 |
| lng                         |                      43745 |
| zoom                        |                      22200 |
| last_ip                     |                      27785 |
| hits                        |                      27936 |
| was_active                  |                          0 |
| priority                    |                          0 |
| verified_ad                 |                      58352 |
| prev_approved               |                      43660 |
| blocked                     |                      57937 |
| is_block_house              |                      58333 |
| is_prime                    |                      58352 |
| is_invest                   |                      58352 |
| invest_avg                  |                          0 |
| poster_ip                   |                      24628 |
| is_active                   |                          0 |
| is_showcase                 |                      58326 |
| boosted_count               |                          0 |
| last_edited                 |                          0 |
| current_page_id             |                       5479 |
| token                       |                      36783 |
| developer_name              |                      58351 |
| company_address             |                      58352 |
| matching_data               |                      57854 |
| block_type                  |                      54789 |
| block_reason                |                      54789 |
| source                      |                      36119 |
| apartment_id                |                      13390 |
| deactivated_by_system       |                          0 |
| deactivate_messge_send_date |                      37346 |
| is_import                   |                          0 |
| SKU                         |                      58352 |
| popup_selector              |                      58327 |
| number_review               |                      58330 |
| is_trending                 |                          0 |
| was_trending                |                          0 |
| trending_date               |                      58202 |
| price_validate              |                      41719 |
| auto_boost_updated          |                      57519 |
| is_sponsored                |                      58352 |
| rooms                       |                       5842 |
| wc                          |                       5842 |
| floors                      |                       5842 |
| dist_station                |                      30503 |
| dist_busstop                |                      30442 |
| dist_school                 |                      58352 |
| size_land                   |                       5914 |
| land_units                  |                       5908 |
| land_perch                  |                      15018 |
| land_acre                   |                      15018 |
| size_house                  |                      58323 |
| NEW                         |                      58352 |
| luxury                      |                      58352 |
| FF                          |                      58352 |
| AC                          |                      58352 |
| NET                         |                      58352 |
| TV                          |                      58352 |
| HOT                         |                      58352 |
| SP                          |                      58352 |
| EN                          |                      58352 |
| garage                      |                      58352 |
| parking                     |                      36252 |
| garden                      |                      58352 |
| landtel                     |                      58352 |
| water                       |                      58352 |
| 3_elec                      |                      47122 |
| home_sec                    |                      58352 |
| oh_water                    |                      58352 |
| rt_garden                   |                      58352 |
| sec                         |                      58352 |
| id_garden                   |                      58352 |
| servant_room                |                      58352 |
| servant_toilet              |                      58352 |
| beachfront                  |                      58352 |
| waterfront                  |                      58352 |
| colonial                    |                      58352 |
| development                 |                      58352 |
| building_age                |                      36331 |
| gym                         |                      58352 |
| theatre                     |                      58352 |
| constructed                 |                      58329 |
| big_hall                    |                      58352 |
| serviced_apartment          |                      58352 |
| available_from              |                      36263 |
| primary_usp                 |                      58085 |
| furnishing_status           |                      58341 |
| short_term                  |                      58352 |
| road_frontage               |                      36269 |
| wd_approach_road            |                      36269 |
| land_shape                  |                      50460 |
| brokers                     |                      58352 |
| ih_discount                 |                      36462 |
| product_status              |                      58352 |
| seating_capacity            |                      36291 |
| lawn_garden                 |                      58352 |
| attached_toilets            |                      58352 |
| internet                    |                      58352 |
| gated_community             |                      56485 |
| cafe_rest                   |                      58352 |
| private_pool                |                      58352 |
| fated_community             |                      58352 |
| pipe_borne_water            |                      47697 |
| bbq_area                    |                      58352 |
| stream_land                 |                      57460 |
| bunglow_inside              |                      57759 |
| hilly_landscape             |                      42758 |
| lake_land                   |                      58273 |
| gem_mining                  |                      58305 |
| ideal_com_use               |                      54714 |
| survey_plan                 |                      52023 |
| soil_test                   |                      56187 |
| central_ac                  |                      58352 |
| backup_generator            |                      58352 |
| fire_detection              |                      58352 |
| fiber_int                   |                      58352 |
| site_parking                |                      58352 |
| lift                        |                      58352 |
| grade_a                     |                      58352 |
| balcony                     |                      58352 |
| club_house                  |                      58352 |
| jogging_track               |                      58352 |
| laundry                     |                      58352 |
| lpw_gas                     |                      58352 |
| game_room                   |                      58352 |
| kids_area                   |                      58352 |
| mini_mart                   |                      58352 |
| business_center             |                      58352 |
| pet_friendly                |                      58352 |
| seperate_kitchen            |                      58352 |
| sport_facilities            |                      58352 |
| garbage_remove              |                      58352 |
| ih_del_est                  |                      58352 |
| investment_size             |                      47753 |
| annual_revenue              |                      47792 |
| city_no                     |                          0 |
| city_name                   |                          0 |
| region                      |                          0 |
| alt_name                    |                      35341 |
| city_lat                    |                          0 |
| city_lon                    |                          0 |
| g_city_lat                  |                          0 |
| g_city_lon                  |                          0 |
| district                    |                          0 |
| main_city                   |                       1417 |
| main_city_id                |                       1381 |
| city_radius                 |                      57822 |
| temp_main_city_id           |                       8053 |
| is_update                   |                          0 |
| is_update_g                 |                          0 |
+-----------------------------+----------------------------+

## Drop columns with all Null

In [282]:
pd.set_option("display.max_rows", 10)
# Drop columns with null
land_col_df_Null_dropped = land_col_df.dropna(axis=1, how='all', inplace=False)

land_col_df_Null_dropped

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,232745,71194,land,Bare Land,NaN,Fussels lane,Colombo 6,...,Colombo,Colombo,0.0,NaN,NaN,0,1
1,237182,29192,land,Bare Land,NaN,Highlevel Rd.,Nugegoda,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
2,245752,71194,land,Bare Land,NaN,Karshue Avenue,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
3,251172,17540,land,Bare Land,.,NaN,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
4,253432,71194,land,Bare Land,.,Cotta Road,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58347,5547103,194186,land,Bare Land,NaN,NaN,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
58348,5542718,81608,land,Land with house,NaN,"Off Koswatta Road, Nawala",Nawala,...,Colombo,Nawala,57.0,NaN,40.0,0,1
58349,5446833,120689,land,Bare Land,NaN,Malabe,Malabe,...,Colombo,Malabe,8.0,NaN,69.0,1,1
58350,5447305,195582,land,Bare Land,NaN,madapatha,Piliyandala,...,Colombo,Piliyandala,7.0,NaN,36.0,1,1
58351,5520807,3905,land,Bare Land,NaN,Anganpitiya Road,Ethul Kotte,...,Colombo,Ethul Kotte,61.0,NaN,1994.0,1,1

## null values and percentage per column

In [283]:
# Get the number of null values per column
null_counts = land_col_df_Null_dropped.isnull().sum()

table_data = []
for column, count in null_counts.items():
    table_data.append([column, count])

print(tabulate(table_data, headers=["Column Name", "null_counts"], tablefmt="psql"))

+-----------------------------+---------------+
| Column Name                 |   null_counts |
|-----------------------------+---------------|
| ad_id                       |             0 |
| UID                         |             0 |
| type                        |             0 |
| propty_type                 |             0 |
| service_type                |         50146 |
| street                      |         22452 |
| city                        |             0 |
| heading                     |             2 |
| desc                        |             1 |
| submit_date                 |             0 |
| posted_date                 |             0 |
| price                       |             0 |
| alt_price                   |             0 |
| alt_currency                |             6 |
| price_type                  |          4032 |
| price_monthly               |             0 |
| price_land_pp               |             1 |
| price_land_pa               |             1 |
| price_land_total            |             1 |
| price_sqft                  |         55451 |
| land_s_l                    |           204 |
| min_term_days               |         35901 |
| comm_type                   |         58349 |
| agent_ref                   |         31383 |
| agent_page_ref              |         58336 |
| pic                         |             0 |
| pic_count                   |          7550 |
| pics_link                   |         57048 |
| youtube_link                |         58284 |
| video_link                  |         58261 |
| 360_image_link              |         58249 |
| contact_type                |           188 |
| contact_name                |           993 |
| tel                         |         56574 |
| email                       |             8 |
| avail                       |            32 |
| lat                         |         43750 |
| lng                         |         43745 |
| zoom                        |         22200 |
| last_ip                     |         27785 |
| hits                        |         27936 |
| was_active                  |             0 |
| priority                    |             0 |
| prev_approved               |         43660 |
| blocked                     |         57937 |
| is_block_house              |         58333 |
| invest_avg                  |             0 |
| poster_ip                   |         24628 |
| is_active                   |             0 |
| is_showcase                 |         58326 |
| boosted_count               |             0 |
| last_edited                 |             0 |
| current_page_id             |          5479 |
| token                       |         36783 |
| developer_name              |         58351 |
| matching_data               |         57854 |
| block_type                  |         54789 |
| block_reason                |         54789 |
| source                      |         36119 |
| apartment_id                |         13390 |
| deactivated_by_system       |             0 |
| deactivate_messge_send_date |         37346 |
| is_import                   |             0 |
| popup_selector              |         58327 |
| number_review               |         58330 |
| is_trending                 |             0 |
| was_trending                |             0 |
| trending_date               |         58202 |
| price_validate              |         41719 |
| auto_boost_updated          |         57519 |
| rooms                       |          5842 |
| wc                          |          5842 |
| floors                      |          5842 |
| dist_station                |         30503 |
| dist_busstop                |         30442 |
| size_land                   |          5914 |
| land_units                  |          5908 |
| land_perch                  |         15018 |
| land_acre                   |         15018 |
| size_house                  |         58323 |
| parking                     |         36252 |
| 3_elec                      |         47122 |
| building_age                |         36331 |
| constructed                 |         58329 |
| available_from              |         36263 |
| primary_usp                 |         58085 |
| furnishing_status           |         58341 |
| road_frontage               |         36269 |
| wd_approach_road            |         36269 |
| land_shape                  |         50460 |
| ih_discount                 |         36462 |
| seating_capacity            |         36291 |
| gated_community             |         56485 |
| pipe_borne_water            |         47697 |
| stream_land                 |         57460 |
| bunglow_inside              |         57759 |
| hilly_landscape             |         42758 |
| lake_land                   |         58273 |
| gem_mining                  |         58305 |
| ideal_com_use               |         54714 |
| survey_plan                 |         52023 |
| soil_test                   |         56187 |
| investment_size             |         47753 |
| annual_revenue              |         47792 |
| city_no                     |             0 |
| city_name                   |             0 |
| region                      |             0 |
| alt_name                    |         35341 |
| city_lat                    |             0 |
| city_lon                    |             0 |
| g_city_lat                  |             0 |
| g_city_lon                  |             0 |
| district                    |             0 |
| main_city                   |          1417 |
| main_city_id                |          1381 |
| city_radius                 |         57822 |
| temp_main_city_id           |          8053 |
| is_update                   |             0 |
| is_update_g                 |             0 |
+-----------------------------+---------------+

In [284]:
pd.set_option('display.max_rows', None)

missing_data = pd.DataFrame({'total_missing': land_col_df_Null_dropped.isnull().sum(), 'perc_missing': (land_col_df_Null_dropped.isnull().sum()/len(land_col_df_Null_dropped))*100})
missing_data

                             total_missing  perc_missing
ad_id                                    0      0.000000
UID                                      0      0.000000
type                                     0      0.000000
propty_type                              0      0.000000
service_type                         50146     85.937072
street                               22452     38.476830
city                                     0      0.000000
heading                                  2      0.003427
desc                                     1      0.001714
submit_date                              0      0.000000
posted_date                              0      0.000000
price                                    0      0.000000
alt_price                                0      0.000000
alt_currency                             6      0.010282
price_type                            4032      6.909789
price_monthly                            0      0.000000
price_land_pp                            1      0.001714
price_land_pa                            1      0.001714
price_land_total                         1      0.001714
price_sqft                           55451     95.028448
land_s_l                               204      0.349602
min_term_days                        35901     61.524883
comm_type                            58349     99.994859
agent_ref                            31383     53.782218
agent_page_ref                       58336     99.972580
pic                                      0      0.000000
pic_count                             7550     12.938717
pics_link                            57048     97.765287
youtube_link                         58284     99.883466
video_link                           58261     99.844050
360_image_link                       58249     99.823485
contact_type                           188      0.322183
contact_name                           993      1.701741
tel                                  56574     96.952975
email                                    8      0.013710
avail                                   32      0.054840
lat                                  43750     74.976008
lng                                  43745     74.967439
zoom                                 22200     38.044968
last_ip                              27785     47.616191
hits                                 27936     47.874966
was_active                               0      0.000000
priority                                 0      0.000000
prev_approved                        43660     74.821771
blocked                              57937     99.288799
is_block_house                       58333     99.967439
invest_avg                               0      0.000000
poster_ip                            24628     42.205923
is_active                                0      0.000000
is_showcase                          58326     99.955443
boosted_count                            0      0.000000
last_edited                              0      0.000000
current_page_id                       5479      9.389567
token                                36783     63.036400
developer_name                       58351     99.998286
matching_data                        57854     99.146559
block_type                           54789     93.893954
block_reason                         54789     93.893954
source                               36119     61.898478
apartment_id                         13390     22.946943
deactivated_by_system                    0      0.000000
deactivate_messge_send_date          37346     64.001234
is_import                                0      0.000000
popup_selector                       58327     99.957157
number_review                        58330     99.962298
is_trending                              0      0.000000
was_trending                             0      0.000000
trending_date                        58202     99.742939
price_validate                       41719     71.495407
auto_boost_updated                   57519     98.572457
rooms                                 5842     10.011653
wc                                    5842     10.011653
floors                                5842     10.011653
dist_station                         30503     52.274129
dist_busstop                         30442     52.169591
size_land                             5914     10.135043
land_units                            5908     10.124760
land_perch                           15018     25.736907
land_acre                            15018     25.736907
size_house                           58323     99.950302
parking                              36252     62.126405
3_elec                               47122     80.754730
building_age                         36331     62.261791
constructed                          58329     99.960584
available_from                       36263     62.145256
primary_usp                          58085     99.542432
furnishing_status                    58341     99.981149
road_frontage                        36269     62.155539
wd_approach_road                     36269     62.155539
land_shape                           50460     86.475185
ih_discount                          36462     62.486290
seating_capacity                     36291     62.193241
gated_community                      56485     96.800452
pipe_borne_water                     47697     81.740129
stream_land                          57460     98.471346
bunglow_inside                       57759     98.983754
hilly_landscape                      42758     73.275980
lake_land                            58273     99.864615
gem_mining                           58305     99.919454
ideal_com_use                        54714     93.765424
survey_plan                          52023     89.153757
soil_test                            56187     96.289759
investment_size                      47753     81.836098
annual_revenue                       47792     81.902934
city_no                                  0      0.000000
city_name                                0      0.000000
region                                   0      0.000000
alt_name                             35341     60.565191
city_lat                                 0      0.000000
city_lon                                 0      0.000000
g_city_lat                               0      0.000000
g_city_lon                               0      0.000000
district                                 0      0.000000
main_city                             1417      2.428366
main_city_id                          1381      2.366671
city_radius                          57822     99.091719
temp_main_city_id                     8053     13.800727
is_update                                0      0.000000
is_update_g                              0      0.000000

In [285]:
# Calculate the total number of missing values in each column
na_values = land_col_df.isnull().sum()

total_cells = land_col_df.size

overall_missing_percentage = (na_values.sum() / total_cells) * 100

print("Overall missing value percentage:", overall_missing_percentage, "%")

Overall missing value percentage: 64.36545401996457 %

## Number of unique values per column

In [286]:
# Get the number of unique values per column
unique_counts = land_col_df_Null_dropped.nunique()

table_data = []
for column, count in unique_counts.items():
    table_data.append([column, count])

print(tabulate(table_data, headers=["Column Name", "Unique count"], tablefmt="psql"))

+-----------------------------+----------------+
| Column Name                 |   Unique count |
|-----------------------------+----------------|
| ad_id                       |          58270 |
| UID                         |           8797 |
| type                        |              3 |
| propty_type                 |              3 |
| service_type                |              3 |
| street                      |          12767 |
| city                        |            369 |
| heading                     |          38489 |
| desc                        |          45752 |
| submit_date                 |          56676 |
| posted_date                 |          57433 |
| price                       |           2328 |
| alt_price                   |           3647 |
| alt_currency                |             10 |
| price_type                  |             24 |
| price_monthly               |             59 |
| price_land_pp               |           3682 |
| price_land_pa               |           1017 |
| price_land_total            |           7824 |
| price_sqft                  |              2 |
| land_s_l                    |              3 |
| min_term_days               |              1 |
| comm_type                   |              1 |
| agent_ref                   |          13384 |
| agent_page_ref              |             16 |
| pic                         |              2 |
| pic_count                   |             20 |
| pics_link                   |            911 |
| youtube_link                |             56 |
| video_link                  |             91 |
| 360_image_link              |            103 |
| contact_type                |              8 |
| contact_name                |           8341 |
| tel                         |           1021 |
| email                       |           8926 |
| avail                       |             12 |
| lat                         |           3037 |
| lng                         |           3012 |
| zoom                        |             10 |
| last_ip                     |           7041 |
| hits                        |           1448 |
| was_active                  |              2 |
| priority                    |              3 |
| prev_approved               |              1 |
| blocked                     |              1 |
| is_block_house              |              1 |
| invest_avg                  |             76 |
| poster_ip                   |          14877 |
| is_active                   |              4 |
| is_showcase                 |              2 |
| boosted_count               |            199 |
| last_edited                 |          12970 |
| current_page_id             |            604 |
| token                       |          20840 |
| developer_name              |              1 |
| matching_data               |            183 |
| block_type                  |              8 |
| block_reason                |              9 |
| source                      |              4 |
| apartment_id                |              2 |
| deactivated_by_system       |              2 |
| deactivate_messge_send_date |          12633 |
| is_import                   |              2 |
| popup_selector              |              1 |
| number_review               |              1 |
| is_trending                 |              2 |
| was_trending                |              2 |
| trending_date               |            130 |
| price_validate              |              7 |
| auto_boost_updated          |            663 |
| rooms                       |              7 |
| wc                          |              6 |
| floors                      |              3 |
| dist_station                |            202 |
| dist_busstop                |            230 |
| size_land                   |           2346 |
| land_units                  |              3 |
| land_perch                  |           1695 |
| land_acre                   |           1414 |
| size_house                  |             26 |
| parking                     |              4 |
| 3_elec                      |              1 |
| building_age                |              4 |
| constructed                 |              1 |
| available_from              |             22 |
| primary_usp                 |            125 |
| furnishing_status           |              3 |
| road_frontage               |            106 |
| wd_approach_road            |             58 |
| land_shape                  |              8 |
| ih_discount                 |              1 |
| seating_capacity            |              2 |
| gated_community             |              1 |
| pipe_borne_water            |              1 |
| stream_land                 |              1 |
| bunglow_inside              |              1 |
| hilly_landscape             |              1 |
| lake_land                   |              1 |
| gem_mining                  |              1 |
| ideal_com_use               |              1 |
| survey_plan                 |              1 |
| soil_test                   |              1 |
| investment_size             |              1 |
| annual_revenue              |              1 |
| city_no                     |            230 |
| city_name                   |            228 |
| region                      |              2 |
| alt_name                    |             83 |
| city_lat                    |            222 |
| city_lon                    |            196 |
| g_city_lat                  |            223 |
| g_city_lon                  |            183 |
| district                    |              2 |
| main_city                   |             52 |
| main_city_id                |             39 |
| city_radius                 |              2 |
| temp_main_city_id           |             42 |
| is_update                   |              2 |
| is_update_g                 |              1 |
+-----------------------------+----------------+

## Number of Numerical and Categorical Variable

In [287]:
# Get the data types of columns
data_types = land_col_df_Null_dropped.dtypes

numerical_count = (data_types == 'float64') | (data_types == 'int64')
categorical_count = data_types == 'object'

print("Number of Numerical Variables:", numerical_count.sum())
print("Number of Categorical Variables:", categorical_count.sum())

Number of Numerical Variables: 51
Number of Categorical Variables: 67

## Unique value count - specific columns

In [288]:
unique_values = land_col_df_Null_dropped['city'].value_counts()
print(unique_values)

city
Horana                4393
Piliyandala           3616
Homagama              2625
Padukka               2407
Battaramulla          2271
Nugegoda              2257
Colombo 5             2033
Thalawathugoda        1949
Dehiwala              1725
Pannipitiya           1644
Meegoda               1590
Malabe                1573
Rajagiriya            1545
Kaduwela              1440
Athurugiriya          1398
Nawala                1382
Colombo 3             1329
Kahathuduwa           1208
Maharagama            1114
Kottawa               1086
Mount Lavinia         1073
Colombo 6             1041
Kesbewa                958
Pita Kotte             848
Pelawatte              788
Colombo 7              725
Neboda                 662
Colombo 8              662
Godagama               660
Boralesgamuwa          658
Moratuwa               655
Rathmalana             635
Colombo 4              593
Ethul Kotte            592
Watareka               551
Colombo 1              529
Hokandara              523
Polgasowita            479
Kiriwatthuduwa         439
Hanwella               324
Kohuwala               317
Kalubowila             255
Mattegoda              242
Colombo 10             237
Colombo 15             233
Avissawella            222
Colombo 2              207
Colombo 9              174
Madiwela               135
Mirihana               126
Koswatta               110
Colombo 13             107
Wellampitiya           107
Katubedda              100
Waga                    99
Pepiliyana              96
Halbarawa               96
Angoda                  94
Ranala                  90
Thalahena               89
Peliyagoda              87
Rattanapitiya           84
Colombo 14              83
Gothatuwa               80
Galagedara              79
Kosgama                 79
Colombo 12              71
Attidiya                71
Kalalgoda               70
Habarakada              69
Kolonnawa               67
Diyakada                62
Mulleriyawa             61
Bokundara               51
Thalapathpitiya         50
Delkanda                50
Puwakpitiya             49
Rawathawatta            47
Panagoda                47
Mawathagama             46
Hadapangoda             44
malabe                  43
Embuldeniya             43
Kotikawatta             42
Thalangama              41
Nawagamuwa              35
Udahamulla              35
Rukmalgama              34
Sapugaskanda            34
padukka                 31
Madapatha               31
Dehiwala                29
Beddagana               27
Thalagala               26
Himbutana               26
Piliyandala             26
kaduwela                26
Mahalwarawa             26
Walpola                 26
Horana                  25
Padukka                 24
piliyandala             24
Homagama                22
Nedimala                22
Kahanthota              21
Makandana               20
Akuregoda               20
Nawinna                 19
Welmilla                19
Atigala                 18
hokandara               17
Pagoda                  17
Bellanwila              17
Athurugiriya            17
Kalapaluwawa            17
homagama                16
nawala                  16
rajagiriya              16
Depanama                16
Kaluaggala              15
Makumbura               15
Sedawatta               15
nugegoda                15
Kadawala                15
Arawwala                14
Nugegoda                14
Arangala                14
Wijerama                12
Kottawa                 12
battaramulla            12
Kothalawala             12
Pamunuwa                11
Kelanimulla             11
Colombo 11              11
Hunupitiya              11
Welivita                11
Waragoda                11
ethul kotte             11
Bomiriya                10
Siddamulla              10
Dampe                    9
KOTTAWA                  9
Rajagiriya               9
BATTARAMULLA             9
horana                   9
Kaduwela                 9
MAHARAGAMA               9
NUGEGODA                 9
Pannipitiya              8
Moratuwa                 8
thalawathugoda           8
Agalawatta               8
Hanwella Ihala           8
Battaramulla             8
Talagala                 8
DEHIWALA                 8
Millewa                  8
Aggona                   8
Raththanapitiya          8
meegoda                  8
Korathota                7
Malabe                   7
kottawa                  7
Jubilee Post             7
Batakettara              7
Webada                   7
Suwarapola               7
Ambatale                 7
Hokandara                6
Gangodawila              6
Pahathgama               6
MALABE                   6
Kindelpitiya             6
Katuwawala               6
Wickramasinghapura       5
PILIYANDALA              5
Mulleriyawa              5
Madinnagoda              5
Oruwala                  5
Bellanvila               5
Thunadahena              5
Pita Kotte               5
Hedigama                 5
Thalawathugoda           5
Angulana                 5
Mount Lavinia            4
Kumaragewatta            4
panagoda                 4
thalangama               4
Navinna                  4
Orugodawatte             4
Gorakapitiya             4
Rukmale                  4
Kahathuduwa              4
PANNIPITIYA              4
Kandawala                4
avissawella              4
Divulpitiya              4
Moratumulla              4
Jalthara                 4
Nawala                   4
Werahara                 3
Borupana                 3
Kesbewa                  3
Meegoda                  3
Kaldemulla               3
Uduwana                  3
Wethara                  3
Seethawaka               3
kahathuduwa              3
Jamburaliya              3
rathmalana               3
Pothuarawa               3
Weragala                 3
RAJAGIRIYA               3
HOMAGAMA                 3
Pannila                  3
KESBEWA                  3
Batuwandara              3
Pepiliyana               3
Jayanthipura             3
Gothatuwa                3
kosgama                  3
THALAWATHUGODA           3
Maharagama               3
Ambathale                3
moratuwa                 3
Pamunuwila               3
Salawa                   3
Pita kotte               3
Wickramsinghepura        3
maharagama               3
Thotalanga               2
hanwella                 2
Walawwatta               2
pannipitiya              2
Ihala Bomiriya           2
Magammana                2
Ranala                   2
athurugiriya             2
mattegoda                2
Rathmalana               2
Dahampura                2
Mahabuthgamuwa           2
Galawilawatte            2
Makuluduwa               2
Pittugala                2
Pelpola                  2
Waga                     2
HAnwella                 2
Kotahena                 2
Colombo 5                2
Pore                     2
Panaluwa                 2
pita kotte               2
colombo 5                2
Boralesgamuwa            2
Palanwaththa             2
watareka                 2
Wattegedara              2
NAWALA                   2
Polgasowita              2
Kolonnawa                2
Meethotamulla            2
Thunnana                 2
Gonamaditta              2
HORANA                   2
COLOMBO 6                2
Angoda                   2
Pathiragoda              2
Kohuwala                 2
Delthara                 2
KADUWELA                 2
COLOMBO 2                2
neboda                   2
Olaboduwa                2
kesbewa                  2
Dedigamuwa               2
Thumbovila               2
Obesekarapura            2
Heraliyawala             2
Moraketiya               2
HOKANDARA                2
Erewwala                 2
BORALESGAMUWA            2
Mawathagama              2
godagama                 1
WAga                     1
thalahena                1
Pelenwatta               1
PADUKKA                  1
MORATUWA                 1
MOUNT LAVINIA            1
Kadugoada                1
KOLONNAWA                1
Dolahena                 1
dehiwala                 1
kolonnawa                1
Moragasmulla             1
waga                     1
kOTTAWA                  1
thalapathpitiya          1
diyakada                 1
colombo 3                1
Kotuwegoda               1
Kudamaduwa               1
Walpita                  1
WALPOLA                  1
colombo 13               1
Kothalawala              1
Mullegama                1
pepiliyana               1
Udahamulla               1
Hiripitiya               1
padukka                  1
COLOMBO 15               1
UDAHAMULLA               1
Heiyanthuduwa            1
HORANA                   1
Delkanda                 1
BOKUNDARA                1
PILIYANDALA              1
Thalahena                1
Wellampitiya             1
Welewatta                1
Colombo 7                1
Mahadeniya               1
Moratuwella              1
Hanwella                 1
COLOMBO 8                1
Molpe                    1
Avissawella              1
Palanwaththa             1
Niripola                 1
Rukmalgama               1
COLOMBO 6                1
Mattegoda                1
Thalapathpitiya          1
Neelammahara             1
Weniwelkola              1
Galagedara               1
Welivita                 1
Horana                   1
Katubedda                1
horana                   1
kottawa                  1
diyakada                 1
katubedda                1
Watareka                 1
Thelawala                1
Ethul kotte              1
Pelawatte                1
Pelenwaththa             1
Karagampitiya            1
Mawathgama               1
Godigamuwa               1
Liyanagoda               1
COLOMBO 7                1
Diddeniya                1
Malapalla                1
Depanama                 1
Batawala                 1
Egoda Uyana              1
Port City                1
Willorawatta             1
Godagama                 1
Subathipura              1
Kawdana                  1
thalagala                1
Name: count, dtype: int64

In [289]:
property_type_counts = land_col_df_Null_dropped['type'].value_counts()

print(property_type_counts)

type
land       58348
sales          3
rentals        1
Name: count, dtype: int64

In [290]:
property_type_counts = land_col_df_Null_dropped['propty_type'].value_counts()

print(property_type_counts)

propty_type
Bare Land          51071
Land with house     7230
Land With House       51
Name: count, dtype: int64

In [291]:
#Replace 'Land With House' with 'Land with house'
land_col_df_Null_dropped.loc[land_col_df_Null_dropped['propty_type'] == 'Land With House', 'propty_type'] = 'Land with house'

print(land_col_df_Null_dropped['propty_type'].value_counts())

propty_type
Bare Land          51071
Land with house     7281
Name: count, dtype: int64

In [292]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

heading_type_counts = land_col_df_Null_dropped['heading'].value_counts()
heading_type_counts_greater_than_20 = heading_type_counts[heading_type_counts > 20]

print(heading_type_counts_greater_than_20)

heading
Land for sale                                                                  403
Land for sale in Kesbewa                                                       344
Bare Land for Sale in Colombo 05 (A613)                                        213
Land for sale in Piliyandala                                                   151
Land for Sale                                                                  132
Land for sale in Neboda                                                        116
Propaty for sale                                                                90
Land for sale in Horana                                                         90
land for sale                                                                   89
Land for sale in Uduwa                                                          85
Land For Sale                                                                   81
Land for sale in Bope                                                           81
Land for Sale in Malabe                                                         79
plots available for sale in Uduwa                                               77
Diyawanna Residencies - Land for Sale in Rajagiriya (A1706)                     72
Land for sale                                                                   72
Land for sale in Padukka                                                        70
160 perch land facing sea view avenue sale at colombo 3                         68
(HL798) Residential Land for Sale in Colombo 15                                 67
Land for sale in Homagama                                                       64
Land for Sale in Battaramulla                                                   55
Land For Sale In Piliyandala                                                    55
Piliyandala Land For Sale                                                       54
(LSD1860)11 Square Land for Sale in Colombo 3                                   54
Land for sale Neboda                                                            53
Land for Sale in Dehiwala                                                       49
Land With Old House for sale in Colombo 03(A610)                                48
10 perches bare land for sale in Polgasowita for Rs. 4.30 lakhs (Per Perch)     47
Square bare land sale at wellawatte                                             47
Bare Land for sale in Thalawathugoda (A717)                                     47
63 perch land facing Alfred house avenue sale at colombo 3                      44
Land for Sale in Thalawathugoda                                                 43
Land for Sale in Nawala                                                         42
Land for sale in Nugegoda                                                       42
Land For Sale - Kahathuduwa                                                     41
Land for sale in Meewanapalana                                                  40
Land for Sale in Mount Lavinia                                                  40
Land For Sale Kahathuduwa                                                       40
Beautiful  Land for sale in Neboda                                              38
Luxury land plots for sale in Pannipitiya                                       38
25 perch land facing unity place Road sale at colombo 3                         38
50 perch land sale at colombo 3                                                 37
Land For Sale In Horana                                                         37
Land for sale in Nebada                                                         37
Land for Sale in Nugegoda                                                       37
Land for sale Horana                                                            37
Horana Land For Sale                                                            36
Land for sale in Battaramulla                                                   36
40 perch land sale at colombo 3                                                 35
Land For Sale Piliyandala                                                       34
Land for sale in Nawala                                                         34
land for sale - wataraka                                                        33
L0551 - Land | for | Sale | Rattanapitiya                                       33
Land for Sale in Colombo 05 (A613)                                              33
Land for Sale in Homagama                                                       33
L0609 - Land | for | Sale | Dehiwala                                            32
Land for sale in Thalawathugoda                                                 32
Land for Sale in Kotte                                                          32
Bare Land for Sale in Colombo 09 (A980)                                         32
Land for sale in uduwa                                                          32
Land for Sale in Rajagiriya                                                     31
Meegoda Land For Sale                                                           31
L0684 - Land | for | Sale | Colombo 5                                           31
Land for Sale in Colombo 05                                                     31
Land for Sale in Pelawatta                                                      31
Land for sale in Athurugiriya                                                   31
27 perch land facing old kesbewa road sale at nugegoda                          31
Land for sale in Pannipitiya                                                    30
Land for Sale in Horana                                                         30
Recidential Land for sale in Padukka                                            30
8 perch land facing lake cres sale at colombo 2                                 29
Land for sale in Kesbawa                                                        29
Land for sale in Kahathuduwa                                                    29
Padukka - Residential Land For Sale                                             29
Land with house for sale                                                        29
L0686 - Land | for | Sale | Boralesgamuwa                                       29
Land for Sale in Piliyandala                                                    28
Land for sale in Maharagama                                                     28
(LSD166) 22 Perches Land with House for Sale in Colombo 07                      28
Land For Sale Horana                                                            28
Land for sale horana                                                            28
Horana - Residential Land For Sale                                              28
L0517 - Land | for | Sale | Nugegoda                                            28
Land for sale in Malabe                                                         28
(LSM942) 13.5 Perches Land with Building in the Prime Spot Col-3                28
L0561 - Land | for | Sale | Wickramasinghepura | Thalawathugoda                 27
High - Level Near Land For Sale                                                 27
Land for sale in Godagama                                                       27
C0553 - Commercial Land | For Sale | Off Union Place | Colombo 10               27
22 perch land facing Kamathawatta Road sale at rajagiriya                       27
10 perches bare land for sale in Piliyandala for Rs. 4.30 lakhs (Per Perch)     26
L0567A - Land | for | Sale | Colombo 4                                          26
Land For Sale Homagama                                                          26
Kahathuduwa Land For Sale                                                       26
L0538 - Land | for | Sale | Kohuwala                                            25
Land For Sale Athurugiriya                                                      25
සුන්දර පරිසරයකට මැදි වූ අගනා ඉඩමක්                                              25
Land for Sale Piliyandala, Kahathuduwa                                          25
Bare Land for Sale in Thalawathogoda (A355)                                     25
10 perches bare land for sale in Kahathuduwa for Rs. 4.30 lakhs (Per Perch)     25
L0696A - Land | for sale | Battaramulla                                         25
63 perch land facing alfred house avenue sale at colombo 3                      25
Land for sale in Battaramulla (A2371)                                           24
Land for Sale in Colombo 03 (A1455)                                             24
Piliyandala Lands For Sale                                                      24
Property For Sale Rajagiriya | 33 P | 198M                                      24
L0685C - Land | for | Sale | Colombo 3                                          24
120 Perches, 100m to High Level Road (Prime location)                           24
Land for Sale in Pannipitiya                                                    24
L0530 - Land | for | Sale | Ratmalana                                           23
Warakaagoda - Superb Plots For Sale                                             23
(CP1924) Bare Land for Sale in Very Prime Location in Rajagiriya Junction       23
Land for sale in Polgasowita                                                    23
Land for sale Horana                                                            23
Land For Sale In Athurugiriya                                                   22
Recidential Land for sale in Homagama                                           22
Land for sale in Colombo 5                                                      22
10 perches bare land for sale in Polgasowita for Rs. 3.80 lakhs (Per Perch)     22
C0686G - Commercial Land | for sale | Rajagiriya                                22
Land for Sale in Meegoda                                                        22
L0712 - Land | for | Sale | Rajagiriya                                          22
Superb land for sale                                                            22
L0678A - Land | for | Sale | Nugegoda                                           22
11 perches bare land for sale in Hanwella for Rs. 3.35 lakhs (Per Perch)        22
C0699 - Commercial property | For sale | Colombo 5                              22
Rent / Lease of 47 Perches Land At Hokandara                                    21
Land For Sale In Kahathuduwa                                                    21
C0543 - Commercial Land | for sale | Ward Place                                 21
test                                                                            21
Land for Sale in Athurugiriya                                                   21
Land for Sale Piliyandala, Polgasowita                                          21
C0510 - Land | for | Sale | Cotta Road | Rajagiriya                             21
C0552 - Commercial Land | for sale | Colombo 6                                  21
Land with old house for sale                                                    21
Land for sale in Meegoda                                                        21
Name: count, dtype: int64

## Devide dataset into "Bare Land" and "Land with House" subsets

In [293]:
bare_land_subset = land_col_df_Null_dropped['propty_type'] == 'Bare Land'
bare_land_df = land_col_df_Null_dropped.loc[bare_land_subset]

In [294]:
pd.set_option("display.max_columns", 14)
pd.set_option("display.max_rows", 10)
bare_land_df

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,232745,71194,land,Bare Land,NaN,Fussels lane,Colombo 6,...,Colombo,Colombo,0.0,NaN,NaN,0,1
1,237182,29192,land,Bare Land,NaN,Highlevel Rd.,Nugegoda,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
2,245752,71194,land,Bare Land,NaN,Karshue Avenue,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
3,251172,17540,land,Bare Land,.,NaN,Battaramulla,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
4,253432,71194,land,Bare Land,.,Cotta Road,Colombo 8,...,Colombo,Colombo,0.0,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58346,5548114,162454,land,Bare Land,NaN,NaN,Colombo 5,...,Colombo,Colombo,0.0,NaN,NaN,1,1
58347,5547103,194186,land,Bare Land,NaN,NaN,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
58349,5446833,120689,land,Bare Land,NaN,Malabe,Malabe,...,Colombo,Malabe,8.0,NaN,69.0,1,1
58350,5447305,195582,land,Bare Land,NaN,madapatha,Piliyandala,...,Colombo,Piliyandala,7.0,NaN,36.0,1,1
58351,5520807,3905,land,Bare Land,NaN,Anganpitiya Road,Ethul Kotte,...,Colombo,Ethul Kotte,61.0,NaN,1994.0,1,1

In [295]:
land_with_house_subset = land_col_df_Null_dropped['propty_type'] == 'Land with house'
land_with_house_df = land_col_df_Null_dropped.loc[land_with_house_subset]

In [296]:
land_with_house_df

,ad_id,UID,type,propty_type,service_type,street,city,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
11,263693,17540,land,Land with house,NaN,Highlevel Road,Pannipitiya,...,Colombo,Pannipitiya,12.0,NaN,68.0,0,1
12,230903,77544,land,Land with house,NaN,Horton Place,Colombo 7,...,Colombo,Colombo,0.0,NaN,NaN,1,1
16,231725,96947,land,Land with house,.,"old kottawa road, Mirihana, Nugegoda",Mirihana,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
18,231645,12670,land,Land with house,NaN,NaN,Thalawathugoda,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
34,231825,88223,land,Land with house,.,Darmapala Mw,Dehiwala,...,Colombo,Dehiwala,4.0,NaN,24.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58326,5446298,195456,land,Land with house,NaN,Valivita,Kaduwela,...,Colombo,Kaduwela,11.0,NaN,92.0,0,1
58336,5446815,195521,land,Land with house,NaN,NaN,Colombo 12,...,Colombo,Colombo,0.0,NaN,NaN,0,1
58337,5534111,184135,land,Land with house,NaN,NaN,Athurugiriya,...,Colombo,NaN,56.0,NaN,133.0,1,1
58343,5506348,58076,land,Land with house,NaN,NaN,Kalubowila,...,Colombo,Dehiwala,4.0,NaN,24.0,1,1
58348,5542718,81608,land,Land with house,NaN,"Off Koswatta Road, Nawala",Nawala,...,Colombo,Nawala,57.0,NaN,40.0,0,1

## Cleaning Bareland Data

In [297]:
columns_to_drop = ['type', 'service_type', 'pics_link', 'pics_link','youtube_link','video_link','360_image_link','last_ip','hits','was_active','priority','prev_approved','blocked','poster_ip','is_active','is_showcase','boosted_count','last_edited','current_page_id','token','matching_data','block_type','block_reason','source','apartment_id','deactivated_by_system','deactivate_messge_send_date','is_import','popup_selector','number_review','is_trending','was_trending','trending_date','auto_boost_updated','rooms','wc','floors','building_age','constructed','size_house','parking','available_from','primary_usp','furnishing_status','seating_capacity','bunglow_inside','stream_land','gated_community','hilly_landscape','lake_land','gem_mining','ideal_com_use','survey_plan','soil_test'] 
bare_land_df_dropped = bare_land_df.drop(columns=columns_to_drop)

In [298]:
bare_land_df_dropped

,ad_id,UID,propty_type,street,city,heading,desc,...,district,main_city,main_city_id,city_radius,temp_main_city_id,is_update,is_update_g
0,232745,71194,Bare Land,Fussels lane,Colombo 6,Ideal plot of land in Colombo 06,The perfect plot of land for your residence in...,...,Colombo,Colombo,0.0,NaN,NaN,0,1
1,237182,29192,Bare Land,Highlevel Rd.,Nugegoda,Excellent Block Of 69 Perches Facing Highlevel...,This Valuable Block is Located Next to Prime L...,...,Colombo,Nugegoda,1.0,NaN,27.0,1,1
2,245752,71194,Bare Land,Karshue Avenue,Colombo 8,6 perch land at Borella for sale,The perfect location to build your dream home ...,...,Colombo,Colombo,0.0,NaN,NaN,0,1
3,251172,17540,Bare Land,NaN,Battaramulla,56.7P Land Directly Overlooking Parliment Grou...,?Our Reference No. SL 8551<br />\n<br />\n(Ple...,...,Colombo,Battaramulla,54.0,NaN,1710.0,0,1
4,253432,71194,Bare Land,Cotta Road,Colombo 8,Land for sale in Borella,The perfect plot of land for your business or ...,...,Colombo,Colombo,0.0,NaN,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58346,5548114,162454,Bare Land,NaN,Colombo 5,Bare Land for Sale in Colombo 05 (A613),Bare Land for Sale in Colombo 05 (A613)<br />\...,...,Colombo,Colombo,0.0,NaN,NaN,1,1
58347,5547103,194186,Bare Land,NaN,Thalawathugoda,Bare Land for sale in Thalawathugoda (A717),<br />\nProperty Code: A717<br />\nBare Land (...,...,Colombo,Thalawathugoda,55.0,NaN,47.0,1,1
58349,5446833,120689,Bare Land,Malabe,Malabe,Commercial Land For Sale,"Address: Kaduwela Main Road (New Kandy Road), ...",...,Colombo,Malabe,8.0,NaN,69.0,1,1
58350,5447305,195582,Bare Land,madapatha,Piliyandala,Land for Sale in Kahapola-Piliyandala,Valuable Land situated at the Kahapola junctio...,...,Colombo,Piliyandala,7.0,NaN,36.0,1,1
58351,5520807,3905,Bare Land,Anganpitiya Road,Ethul Kotte,70 perch land sale kotte,70 P Land for SALE in Ethukotte ( sri jayawarr...,...,Colombo,Ethul Kotte,61.0,NaN,1994.0,1,1

### Drop columns with over 95% missing values

In [299]:
# Calculate missing value percentages
missing_data = pd.DataFrame({'total_missing': bare_land_df_dropped.isnull().sum(), 'perc_missing': (bare_land_df_dropped.isnull().sum() / len(bare_land_df_dropped)) * 100})

threshold = 95

columns_to_drop = missing_data[missing_data['perc_missing'] > threshold].index

bare_land_df_na_dropped = bare_land_df_dropped.drop(columns=columns_to_drop)

In [300]:
bare_land_df_na_dropped

,ad_id,UID,propty_type,street,city,heading,desc,...,g_city_lon,district,main_city,main_city_id,temp_main_city_id,is_update,is_update_g
0,232745,71194,Bare Land,Fussels lane,Colombo 6,Ideal plot of land in Colombo 06,The perfect plot of land for your residence in...,...,79.860748,Colombo,Colombo,0.0,NaN,0,1
1,237182,29192,Bare Land,Highlevel Rd.,Nugegoda,Excellent Block Of 69 Perches Facing Highlevel...,This Valuable Block is Located Next to Prime L...,...,79.899681,Colombo,Nugegoda,1.0,27.0,1,1
2,245752,71194,Bare Land,Karshue Avenue,Colombo 8,6 perch land at Borella for sale,The perfect location to build your dream home ...,...,79.882881,Colombo,Colombo,0.0,NaN,0,1
3,251172,17540,Bare Land,NaN,Battaramulla,56.7P Land Directly Overlooking Parliment Grou...,?Our Reference No. SL 8551<br />\n<br />\n(Ple...,...,79.922287,Colombo,Battaramulla,54.0,1710.0,0,1
4,253432,71194,Bare Land,Cotta Road,Colombo 8,Land for sale in Borella,The perfect plot of land for your business or ...,...,79.882881,Colombo,Colombo,0.0,NaN,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58346,5548114,162454,Bare Land,NaN,Colombo 5,Bare Land for Sale in Colombo 05 (A613),Bare Land for Sale in Colombo 05 (A613)<br />\...,...,79.875877,Colombo,Colombo,0.0,NaN,1,1
58347,5547103,194186,Bare Land,NaN,Thalawathugoda,Bare Land for sale in Thalawathugoda (A717),<br />\nProperty Code: A717<br />\nBare Land (...,...,79.939194,Colombo,Thalawathugoda,55.0,47.0,1,1
58349,5446833,120689,Bare Land,Malabe,Malabe,Commercial Land For Sale,"Address: Kaduwela Main Road (New Kandy Road), ...",...,79.969627,Colombo,Malabe,8.0,69.0,1,1
58350,5447305,195582,Bare Land,madapatha,Piliyandala,Land for Sale in Kahapola-Piliyandala,Valuable Land situated at the Kahapola junctio...,...,79.922729,Colombo,Piliyandala,7.0,36.0,1,1
58351,5520807,3905,Bare Land,Anganpitiya Road,Ethul Kotte,70 perch land sale kotte,70 P Land for SALE in Ethukotte ( sri jayawarr...,...,79.905273,Colombo,Ethul Kotte,61.0,1994.0,1,1

In [301]:
pd.set_option('display.max_rows', None)

missing_data_perc = pd.DataFrame({'total_missing': bare_land_df_na_dropped.isnull().sum(), 'perc_missing': (bare_land_df_na_dropped.isnull().sum()/len(bare_land_df_na_dropped))*100})
missing_data_perc

                   total_missing  perc_missing
ad_id                          0      0.000000
UID                            0      0.000000
propty_type                    0      0.000000
street                     19582     38.342699
city                           0      0.000000
heading                        2      0.003916
desc                           1      0.001958
submit_date                    0      0.000000
posted_date                    0      0.000000
price                          0      0.000000
alt_price                      0      0.000000
alt_currency                   5      0.009790
price_type                  2986      5.846762
price_monthly                  0      0.000000
price_land_pp                  1      0.001958
price_land_pa                  1      0.001958
price_land_total               1      0.001958
land_s_l                     154      0.301541
min_term_days              31280     61.248066
agent_ref                  26972     52.812751
pic                            0      0.000000
pic_count                   6316     12.367097
contact_type                 157      0.307415
contact_name                 807      1.580153
email                          4      0.007832
avail                         29      0.056784
lat                        38560     75.502731
lng                        38555     75.492941
zoom                       19568     38.315287
invest_avg                     0      0.000000
price_validate             35930     70.353038
dist_station               26663     52.207711
dist_busstop               26615     52.113724
size_land                   4878      9.551409
land_units                  4875      9.545535
land_perch                 12705     24.877132
land_acre                  12705     24.877132
3_elec                     40784     79.857453
road_frontage              31592     61.858981
wd_approach_road           31592     61.858981
land_shape                 44289     86.720448
ih_discount                31748     62.164438
pipe_borne_water           41478     81.216346
investment_size            41904     82.050479
annual_revenue             41940     82.120969
city_no                        0      0.000000
city_name                      0      0.000000
region                         0      0.000000
alt_name                   32195     63.039690
city_lat                       0      0.000000
city_lon                       0      0.000000
g_city_lat                     0      0.000000
g_city_lon                     0      0.000000
district                       0      0.000000
main_city                   1298      2.541560
main_city_id                1345      2.633589
temp_main_city_id           6360     12.453251
is_update                      0      0.000000
is_update_g                    0      0.000000

### Drop columns with '0' as the value for most of the rows

In [302]:
unique_type_counts = bare_land_df_na_dropped['temp_main_city_id'].value_counts()

print(unique_type_counts)

temp_main_city_id
121.0     5861
70.0      4314
36.0      3612
24.0      2730
699.0     2629
92.0      2241
1710.0    2115
27.0      2030
68.0      1911
47.0      1883
172.0     1767
69.0      1439
133.0     1298
86.0      1265
40.0      1086
74.0      1013
73.0       954
43.0       942
185.0      671
32.0       669
33.0       658
2010.0     639
181.0      513
1830.0     496
1994.0     479
438.0      474
266.0      255
146.0      165
95.0       148
105.0       87
87.0        85
103.0       73
177.0       70
252.0       49
101.0       26
1706.0      26
2012.0      15
85.0        10
71.0         7
433.0        3
65.0         2
13.0         1
Name: count, dtype: int64

In [303]:
columns_to_drop = ['propty_type', 'submit_date', 'alt_price', 'land_s_l', 'min_term_days', 'pic', 'pic_count', 'avail', 'invest_avg', '3_elec', 'road_frontage', 'wd_approach_road', 
                   'ih_discount', 'pipe_borne_water', 'investment_size', 'annual_revenue', 'region', 'district', 'is_update', 'is_update_g', 'alt_currency','price_monthly', 'temp_main_city_id', 'zoom'] 
bare_land_df_na_dropped_cleaned = bare_land_df_na_dropped.drop(columns=columns_to_drop)

In [304]:
pd.set_option("display.max_columns", 14)
pd.set_option("display.max_rows", 10)

bare_land_df_na_dropped_cleaned

,ad_id,UID,street,city,heading,desc,posted_date,...,alt_name,city_lat,city_lon,g_city_lat,g_city_lon,main_city,main_city_id
0,232745,71194,Fussels lane,Colombo 6,Ideal plot of land in Colombo 06,The perfect plot of land for your residence in...,2018-01-19 18:48:36,...,Wellawatte / Pamankada,6.874691,79.860748,6.874691,79.860748,Colombo,0.0
1,237182,29192,Highlevel Rd.,Nugegoda,Excellent Block Of 69 Perches Facing Highlevel...,This Valuable Block is Located Next to Prime L...,2018-02-23 00:33:49,...,NaN,6.864908,79.899681,6.864908,79.899681,Nugegoda,1.0
2,245752,71194,Karshue Avenue,Colombo 8,6 perch land at Borella for sale,The perfect location to build your dream home ...,2018-05-08 13:44:47,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo,0.0
3,251172,17540,NaN,Battaramulla,56.7P Land Directly Overlooking Parliment Grou...,?Our Reference No. SL 8551<br />\n<br />\n(Ple...,2018-06-25 10:26:07,...,NaN,6.898378,79.922256,6.897994,79.922287,Battaramulla,54.0
4,253432,71194,Cotta Road,Colombo 8,Land for sale in Borella,The perfect plot of land for your business or ...,2018-07-12 14:46:55,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58346,5548114,162454,NaN,Colombo 5,Bare Land for Sale in Colombo 05 (A613),Bare Land for Sale in Colombo 05 (A613)<br />\...,2023-09-09 12:03:00,...,Havelock Town / Kirulapone / Narahenpita / Thi...,6.884062,79.875877,6.884062,79.875877,Colombo,0.0
58347,5547103,194186,NaN,Thalawathugoda,Bare Land for sale in Thalawathugoda (A717),<br />\nProperty Code: A717<br />\nBare Land (...,2023-09-07 04:45:00,...,Talawatugoda / Talawathugoda,6.875865,79.939194,6.875865,79.939194,Thalawathugoda,55.0
58349,5446833,120689,Malabe,Malabe,Commercial Land For Sale,"Address: Kaduwela Main Road (New Kandy Road), ...",2023-03-12 02:49:00,...,Malambe,6.906079,79.969627,6.906079,79.969627,Malabe,8.0
58350,5447305,195582,madapatha,Piliyandala,Land for Sale in Kahapola-Piliyandala,Valuable Land situated at the Kahapola junctio...,2023-03-12 09:29:00,...,NaN,6.801757,79.922729,6.801757,79.922729,Piliyandala,7.0
58351,5520807,3905,Anganpitiya Road,Ethul Kotte,70 perch land sale kotte,70 P Land for SALE in Ethukotte ( sri jayawarr...,2023-07-29 09:10:00,...,Etul Kotte / Kotte,6.891483,79.905273,6.891483,79.905273,Ethul Kotte,61.0

In [305]:
# Calculate the total number of missing values in each column
na_values = bare_land_df_na_dropped_cleaned.isnull().sum()

# Calculate the total number of cells in the DataFrame
total_cells = bare_land_df_na_dropped_cleaned.size

# Calculate the overall missing value percentage
overall_missing_percentage = (na_values.sum() / total_cells) * 100

print("Overall missing value percentage:", overall_missing_percentage, "%")

Overall missing value percentage: 18.524742864975092 %

## Calculate Price Per Perch

In [306]:
def calculate_land_price(row):
    if row['price_land_total'] == 0 or pd.isnull(row['price_land_total']) or row['land_perch'] == 0 or pd.isnull(row['land_perch']):
        return np.nan
    else:
        return row['price_land_total'] / row['land_perch']

# Apply the function to create the land_price_PP column
bare_land_df_na_dropped_cleaned['Gen_land_price_PP'] = bare_land_df_na_dropped_cleaned.apply(calculate_land_price, axis=1) #Gen means generated column

In [307]:
pd.set_option("display.max_columns", 14)
pd.set_option("display.max_rows", 10)

bare_land_df_na_dropped_cleaned

,ad_id,UID,street,city,heading,desc,posted_date,...,alt_name,city_lat,city_lon,g_city_lat,g_city_lon,main_city,main_city_id
0,232745,71194,Fussels lane,Colombo 6,Ideal plot of land in Colombo 06,The perfect plot of land for your residence in...,2018-01-19 18:48:36,...,Wellawatte / Pamankada,6.874691,79.860748,6.874691,79.860748,Colombo,0.0
1,237182,29192,Highlevel Rd.,Nugegoda,Excellent Block Of 69 Perches Facing Highlevel...,This Valuable Block is Located Next to Prime L...,2018-02-23 00:33:49,...,NaN,6.864908,79.899681,6.864908,79.899681,Nugegoda,1.0
2,245752,71194,Karshue Avenue,Colombo 8,6 perch land at Borella for sale,The perfect location to build your dream home ...,2018-05-08 13:44:47,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo,0.0
3,251172,17540,NaN,Battaramulla,56.7P Land Directly Overlooking Parliment Grou...,?Our Reference No. SL 8551<br />\n<br />\n(Ple...,2018-06-25 10:26:07,...,NaN,6.898378,79.922256,6.897994,79.922287,Battaramulla,54.0
4,253432,71194,Cotta Road,Colombo 8,Land for sale in Borella,The perfect plot of land for your business or ...,2018-07-12 14:46:55,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58346,5548114,162454,NaN,Colombo 5,Bare Land for Sale in Colombo 05 (A613),Bare Land for Sale in Colombo 05 (A613)<br />\...,2023-09-09 12:03:00,...,Havelock Town / Kirulapone / Narahenpita / Thi...,6.884062,79.875877,6.884062,79.875877,Colombo,0.0
58347,5547103,194186,NaN,Thalawathugoda,Bare Land for sale in Thalawathugoda (A717),<br />\nProperty Code: A717<br />\nBare Land (...,2023-09-07 04:45:00,...,Talawatugoda / Talawathugoda,6.875865,79.939194,6.875865,79.939194,Thalawathugoda,55.0
58349,5446833,120689,Malabe,Malabe,Commercial Land For Sale,"Address: Kaduwela Main Road (New Kandy Road), ...",2023-03-12 02:49:00,...,Malambe,6.906079,79.969627,6.906079,79.969627,Malabe,8.0
58350,5447305,195582,madapatha,Piliyandala,Land for Sale in Kahapola-Piliyandala,Valuable Land situated at the Kahapola junctio...,2023-03-12 09:29:00,...,NaN,6.801757,79.922729,6.801757,79.922729,Piliyandala,7.0
58351,5520807,3905,Anganpitiya Road,Ethul Kotte,70 perch land sale kotte,70 P Land for SALE in Ethukotte ( sri jayawarr...,2023-07-29 09:10:00,...,Etul Kotte / Kotte,6.891483,79.905273,6.891483,79.905273,Ethul Kotte,61.0

#### Save cleaned dataframe as .csv

In [308]:
output_csv_path = '../Dataset/New_Data/2_bare_land_df_na_dropped_cleaned.csv' 
bare_land_df_na_dropped_cleaned.to_csv(output_csv_path, index=False)

In [309]:
duplicate_rows = bare_land_df_na_dropped_cleaned[bare_land_df_na_dropped_cleaned.duplicated(subset=None, keep=False)]
print(duplicate_rows)

In [310]:
subset_columns = ['UID', 'street', 'city', 'heading', 'desc', 'price_land_total', 'agent_ref', 'contact_name', 'email', 'land_perch']

# Count the number of duplicate rows
duplicate_row_count = bare_land_df_na_dropped_cleaned.duplicated(subset=subset_columns, keep="first").sum()
print("Number of duplicate rows:", duplicate_row_count)

Number of duplicate rows: 3659

In [311]:
bare_land_df_na_dropped_cleaned_dp_dropped = bare_land_df_na_dropped_cleaned.drop_duplicates(subset=subset_columns, keep='first')

In [312]:
subset_columns = ['ad_id']

# Count the number of duplicate rows
duplicate_row_count = bare_land_df_na_dropped_cleaned_dp_dropped.duplicated(subset=subset_columns, keep="first").sum()
print("Number of duplicate rows:", duplicate_row_count)

Number of duplicate rows: 4

In [313]:
bare_land_df_na_dropped_cleaned_dp_dropped = bare_land_df_na_dropped_cleaned_dp_dropped.drop_duplicates(subset=subset_columns, keep='first')

In [314]:
pd.set_option("display.max_columns", 14)
pd.set_option("display.max_rows", 10)

bare_land_df_na_dropped_cleaned_dp_dropped

,ad_id,UID,street,city,heading,desc,posted_date,...,alt_name,city_lat,city_lon,g_city_lat,g_city_lon,main_city,main_city_id
0,232745,71194,Fussels lane,Colombo 6,Ideal plot of land in Colombo 06,The perfect plot of land for your residence in...,2018-01-19 18:48:36,...,Wellawatte / Pamankada,6.874691,79.860748,6.874691,79.860748,Colombo,0.0
1,237182,29192,Highlevel Rd.,Nugegoda,Excellent Block Of 69 Perches Facing Highlevel...,This Valuable Block is Located Next to Prime L...,2018-02-23 00:33:49,...,NaN,6.864908,79.899681,6.864908,79.899681,Nugegoda,1.0
2,245752,71194,Karshue Avenue,Colombo 8,6 perch land at Borella for sale,The perfect location to build your dream home ...,2018-05-08 13:44:47,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo,0.0
3,251172,17540,NaN,Battaramulla,56.7P Land Directly Overlooking Parliment Grou...,?Our Reference No. SL 8551<br />\n<br />\n(Ple...,2018-06-25 10:26:07,...,NaN,6.898378,79.922256,6.897994,79.922287,Battaramulla,54.0
4,253432,71194,Cotta Road,Colombo 8,Land for sale in Borella,The perfect plot of land for your business or ...,2018-07-12 14:46:55,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58344,5528437,193404,NaN,Kahathuduwa,Land For Sale In Near To Kahathuduwa,?120 ප්‍රධාන බස් පාරගයට මීටර 30ක දුරකි..<br />...,2023-08-10 08:50:00,...,NaN,6.782298,79.994797,6.782298,79.994797,Kahathuduwa,NaN
58345,5410000,53682,Hospital Road,Dehiwala,Land for Sale in Dehiwela Kalubowila,"Land for Sale in Dehiwela Kalubowila, 19.5p, P...",2023-01-03 08:45:00,...,Dehiwela,6.830119,79.880081,6.830119,79.880081,Dehiwala,4.0
58349,5446833,120689,Malabe,Malabe,Commercial Land For Sale,"Address: Kaduwela Main Road (New Kandy Road), ...",2023-03-12 02:49:00,...,Malambe,6.906079,79.969627,6.906079,79.969627,Malabe,8.0
58350,5447305,195582,madapatha,Piliyandala,Land for Sale in Kahapola-Piliyandala,Valuable Land situated at the Kahapola junctio...,2023-03-12 09:29:00,...,NaN,6.801757,79.922729,6.801757,79.922729,Piliyandala,7.0
58351,5520807,3905,Anganpitiya Road,Ethul Kotte,70 perch land sale kotte,70 P Land for SALE in Ethukotte ( sri jayawarr...,2023-07-29 09:10:00,...,Etul Kotte / Kotte,6.891483,79.905273,6.891483,79.905273,Ethul Kotte,61.0

In [315]:
bare_land_df_na_dropped_cleaned_dp_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47408 entries, 0 to 58351
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ad_id             47408 non-null  int64
 1   UID               47408 non-null  int64
 2   street            30556 non-null  object
 3   city              47408 non-null  object
 4   heading           47406 non-null  object
 5   desc              47407 non-null  object
 6   posted_date       47408 non-null  datetime64[ns]
 7   price             47408 non-null  int64
 8   price_type        44708 non-null  object
 9   price_land_pp     47407 non-null  float64
 10  price_land_pa     47407 non-null  float64
 11  price_land_total  47407 non-null  float64
 12  agent_ref         21769 non-null  object
 13  contact_type      47254 non-null  object
 14  contact_name      46618 non-null  object
 15  email             47404 non-null  object
 16  lat               11739 non-null  float64
 17  lng               11744 non-null  float64
 18  price_validate    13728 non-null  object
 19  dist_station      22880 non-null  object
 20  dist_busstop      22932 non-null  object
 21  size_land         42566 non-null  object
 22  land_units        42569 non-null  object
 23  land_perch        35613 non-null  float64
 24  land_acre         35613 non-null  float64
 25  land_shape        6670 non-null   object
 26  city_no           47408 non-null  int64
 27  city_name         47408 non-null  object
 28  alt_name          16527 non-null  object
 29  city_lat          47408 non-null  float64
 30  city_lon          47408 non-null  float64
 31  g_city_lat        47408 non-null  float64
 32  g_city_lon        47408 non-null  float64
 33  main_city         46211 non-null  object
 34  main_city_id      46082 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(4), object(18)
memory usage: 13.0+ MB

In [316]:
# Get the number of unique values per column
unique_counts_dp_dropped = bare_land_df_na_dropped_cleaned_dp_dropped.nunique()

table_data = []
for column, count in unique_counts_dp_dropped.items():
    table_data.append([column, count])

print(tabulate(table_data, headers=["Column Name", "Unique count"], tablefmt="psql"))

+------------------+----------------+
| Column Name      |   Unique count |
|------------------+----------------|
| ad_id            |          47408 |
| UID              |           7037 |
| street           |          10740 |
| city             |            351 |
| heading          |          33574 |
| desc             |          39811 |
| posted_date      |          46794 |
| price            |           2062 |
| price_type       |             22 |
| price_land_pp    |           2873 |
| price_land_pa    |            824 |
| price_land_total |           6864 |
| agent_ref        |          12021 |
| contact_type     |              7 |
| contact_name     |           6850 |
| email            |           7159 |
| lat              |           2495 |
| lng              |           2494 |
| price_validate   |              7 |
| dist_station     |            176 |
| dist_busstop     |            202 |
| size_land        |           2016 |
| land_units       |              3 |
| land_perch       |           1447 |
| land_acre        |           1224 |
| land_shape       |              8 |
| city_no          |            221 |
| city_name        |            221 |
| alt_name         |             83 |
| city_lat         |            215 |
| city_lon         |            190 |
| g_city_lat       |            216 |
| g_city_lon       |            177 |
| main_city        |             52 |
| main_city_id     |             39 |
+------------------+----------------+

In [317]:
pd.set_option('display.max_rows', None)

missing_data_perc = pd.DataFrame({'total_missing': bare_land_df_na_dropped_cleaned_dp_dropped.isnull().sum(), 'perc_missing %': (bare_land_df_na_dropped_cleaned_dp_dropped.isnull().sum()/len(bare_land_df_na_dropped_cleaned_dp_dropped))*100})
missing_data_perc

                  total_missing  perc_missing %
ad_id                         0        0.000000
UID                           0        0.000000
street                    16852       35.546743
city                          0        0.000000
heading                       2        0.004219
desc                          1        0.002109
posted_date                   0        0.000000
price                         0        0.000000
price_type                 2700        5.695241
price_land_pp                 1        0.002109
price_land_pa                 1        0.002109
price_land_total              1        0.002109
agent_ref                 25639       54.081590
contact_type                154        0.324840
contact_name                790        1.666385
email                         4        0.008437
lat                       35669       75.238356
lng                       35664       75.227810
price_validate            33680       71.042862
dist_station              24528       51.738103
dist_busstop              24476       51.628417
size_land                  4842       10.213466
land_units                 4839       10.207138
land_perch                11795       24.879767
land_acre                 11795       24.879767
land_shape                40738       85.930645
city_no                       0        0.000000
city_name                     0        0.000000
alt_name                  30881       65.138795
city_lat                      0        0.000000
city_lon                      0        0.000000
g_city_lat                    0        0.000000
g_city_lon                    0        0.000000
main_city                  1197        2.524890
main_city_id               1326        2.796996

## Cleaning data according to company instructions

In [318]:
df =  bare_land_df_na_dropped_cleaned_dp_dropped

count = df['city_name'].value_counts()['Athurugiriya']

print(f"The value Athurugiriya appears {count} times in the column.")

The value Athurugiriya appears 1197 times in the column.

In [319]:
# Replace 'main_city' with 'Athurugiriya' where 'city_name' is 'Athurugiriya'
bare_land_df_na_dropped_cleaned_dp_dropped.loc[bare_land_df_na_dropped_cleaned_dp_dropped['city_name'] == 'Athurugiriya', 'main_city'] = 'Athurugiriya'

In [320]:
# Create a boolean mask to identify rows where 'city_name' starts with 'Colombo'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['city_name'].str.startswith('Colombo')

# Replace 'main_city' with 'city_name' where 'city_name' starts with 'Colombo'
bare_land_df_na_dropped_cleaned_dp_dropped.loc[mask, 'main_city'] = bare_land_df_na_dropped_cleaned_dp_dropped['city_name']

In [321]:
# Convert 'main_city' column to lowercase and then compare
mask = bare_land_df_na_dropped_cleaned_dp_dropped['city_name'].str.lower() == 'horana'

# Apply the mask to filter rows
bare_land_df_na_dropped_cleaned_dp_dropped = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [322]:
import re

# Use a regular expression to filter rows for exact match of 'ragama'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['main_city'].str.contains(r'\b' + re.escape('ragama') + r'\b', case=False)

# Apply the mask to filter rows
bare_land_df_na_dropped_cleaned_dp_dropped = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [323]:
# Use a regular expression to filter rows for exact match of 'Dompe'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['main_city'].str.contains(r'\b' + re.escape('dompe') + r'\b', case=False)

# Apply the mask to filter rows
bare_land_df_na_dropped_cleaned_dp_dropped = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [324]:
# Use a regular expression to filter rows for exact match of 'Millewa'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['main_city'].str.contains(r'\b' + re.escape('millewa') + r'\b', case=False)

# Apply the mask to filter rows
bare_land_df_na_dropped_cleaned_dp_dropped = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [325]:
# Use a regular expression to filter rows for exact match of 'Panadura'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['main_city'].str.contains(r'\b' + re.escape('panadura') + r'\b', case=False)

# Apply the mask to filter rows
bare_land_df_na_dropped_cleaned_dp_dropped = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [326]:
# Use a regular expression to filter rows for exact match of 'port city'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['city_name'].str.contains(r'\b' + re.escape('port city') + r'\b', case=False)

# Apply the mask to filter rows
bare_land_df_na_dropped_cleaned_dp_dropped = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [327]:
bare_land_df_na_dropped_cleaned_dp_dropped.loc[bare_land_df_na_dropped_cleaned_dp_dropped['main_city'] == 'Grandpass', 'main_city'] = 'Colombo 14'

In [328]:
# Create a boolean mask to identify rows where 'main_city' is 'Colombo 1'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['main_city'] == 'Colombo 1'

# Use the boolean mask to extract the rows where 'main_city' is 'Colombo 1'
colombo_1_df = bare_land_df_na_dropped_cleaned_dp_dropped[mask]

In [329]:
# Create a boolean mask to identify rows where 'main_city' is 'Colombo 11'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['main_city'] == 'Colombo 11'

# Use the boolean mask to keep only the rows where 'main_city' is not 'Colombo 11'
bare_land_filtered_df = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [330]:
# Create a boolean mask to identify rows where 'main_city' is 'Kadawatha'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['main_city'] == 'Kadawatha'

# Use the boolean mask to keep only the rows where 'main_city' is not 'Kadawatha'
bare_land_filtered_df = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [331]:
# Create a boolean mask to identify rows where 'main_city' is 'Peliyagoda'
mask = bare_land_df_na_dropped_cleaned_dp_dropped['main_city'] == 'Peliyagoda'

# Use the boolean mask to keep only the rows where 'main_city' is not 'Kadawatha'
bare_land_filtered_df = bare_land_df_na_dropped_cleaned_dp_dropped[~mask]

In [332]:
# bare_land_filtered_df = bare_land_filtered_df.drop(bare_land_filtered_df[(bare_land_filtered_df['price_land_pp'] == 111111111111111) & (bare_land_filtered_df['city_name'] == 'Athurugiriya')].index)

### Save the dataframe

In [333]:
output_csv_path = '../Dataset/New_Data/3_colombo_1_df.csv' 
colombo_1_df.to_csv(output_csv_path, index=False)

In [334]:
output_csv_path = '../Dataset/New_Data/4_bare_land_filtered_df.csv' 
bare_land_filtered_df.to_csv(output_csv_path, index=False)

In [335]:
pd.set_option("display.max_rows", 10)
bare_land_filtered_df

,ad_id,UID,street,city,heading,desc,posted_date,...,alt_name,city_lat,city_lon,g_city_lat,g_city_lon,main_city,main_city_id
0,232745,71194,Fussels lane,Colombo 6,Ideal plot of land in Colombo 06,The perfect plot of land for your residence in...,2018-01-19 18:48:36,...,Wellawatte / Pamankada,6.874691,79.860748,6.874691,79.860748,Colombo 6,0.0
1,237182,29192,Highlevel Rd.,Nugegoda,Excellent Block Of 69 Perches Facing Highlevel...,This Valuable Block is Located Next to Prime L...,2018-02-23 00:33:49,...,NaN,6.864908,79.899681,6.864908,79.899681,Nugegoda,1.0
2,245752,71194,Karshue Avenue,Colombo 8,6 perch land at Borella for sale,The perfect location to build your dream home ...,2018-05-08 13:44:47,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo 8,0.0
3,251172,17540,NaN,Battaramulla,56.7P Land Directly Overlooking Parliment Grou...,?Our Reference No. SL 8551<br />\n<br />\n(Ple...,2018-06-25 10:26:07,...,NaN,6.898378,79.922256,6.897994,79.922287,Battaramulla,54.0
4,253432,71194,Cotta Road,Colombo 8,Land for sale in Borella,The perfect plot of land for your business or ...,2018-07-12 14:46:55,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo 8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58344,5528437,193404,NaN,Kahathuduwa,Land For Sale In Near To Kahathuduwa,?120 ප්‍රධාන බස් පාරගයට මීටර 30ක දුරකි..<br />...,2023-08-10 08:50:00,...,NaN,6.782298,79.994797,6.782298,79.994797,Kahathuduwa,NaN
58345,5410000,53682,Hospital Road,Dehiwala,Land for Sale in Dehiwela Kalubowila,"Land for Sale in Dehiwela Kalubowila, 19.5p, P...",2023-01-03 08:45:00,...,Dehiwela,6.830119,79.880081,6.830119,79.880081,Dehiwala,4.0
58349,5446833,120689,Malabe,Malabe,Commercial Land For Sale,"Address: Kaduwela Main Road (New Kandy Road), ...",2023-03-12 02:49:00,...,Malambe,6.906079,79.969627,6.906079,79.969627,Malabe,8.0
58350,5447305,195582,madapatha,Piliyandala,Land for Sale in Kahapola-Piliyandala,Valuable Land situated at the Kahapola junctio...,2023-03-12 09:29:00,...,NaN,6.801757,79.922729,6.801757,79.922729,Piliyandala,7.0
58351,5520807,3905,Anganpitiya Road,Ethul Kotte,70 perch land sale kotte,70 P Land for SALE in Ethukotte ( sri jayawarr...,2023-07-29 09:10:00,...,Etul Kotte / Kotte,6.891483,79.905273,6.891483,79.905273,Ethul Kotte,61.0

## Extract a dataframe with columns less than 5% values

In [336]:
null_percentages = (bare_land_filtered_df.isnull().sum() / len(bare_land_filtered_df)) * 100

# Filter columns with null value percentage less than 5%
selected_columns = null_percentages[null_percentages < 50].index

# Create a new DataFrame with the selected columns
bare_land_no_null = bare_land_filtered_df[selected_columns]

In [337]:
pd.set_option("display.max_rows", 10)

bare_land_no_null

,ad_id,UID,street,city,heading,desc,posted_date,...,city_name,city_lat,city_lon,g_city_lat,g_city_lon,main_city,main_city_id
0,232745,71194,Fussels lane,Colombo 6,Ideal plot of land in Colombo 06,The perfect plot of land for your residence in...,2018-01-19 18:48:36,...,Colombo 6,6.874691,79.860748,6.874691,79.860748,Colombo 6,0.0
1,237182,29192,Highlevel Rd.,Nugegoda,Excellent Block Of 69 Perches Facing Highlevel...,This Valuable Block is Located Next to Prime L...,2018-02-23 00:33:49,...,Nugegoda,6.864908,79.899681,6.864908,79.899681,Nugegoda,1.0
2,245752,71194,Karshue Avenue,Colombo 8,6 perch land at Borella for sale,The perfect location to build your dream home ...,2018-05-08 13:44:47,...,Colombo 8,6.914720,79.877800,6.912180,79.882881,Colombo 8,0.0
3,251172,17540,NaN,Battaramulla,56.7P Land Directly Overlooking Parliment Grou...,?Our Reference No. SL 8551<br />\n<br />\n(Ple...,2018-06-25 10:26:07,...,Battaramulla,6.898378,79.922256,6.897994,79.922287,Battaramulla,54.0
4,253432,71194,Cotta Road,Colombo 8,Land for sale in Borella,The perfect plot of land for your business or ...,2018-07-12 14:46:55,...,Colombo 8,6.914720,79.877800,6.912180,79.882881,Colombo 8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58344,5528437,193404,NaN,Kahathuduwa,Land For Sale In Near To Kahathuduwa,?120 ප්‍රධාන බස් පාරගයට මීටර 30ක දුරකි..<br />...,2023-08-10 08:50:00,...,Kahathuduwa,6.782298,79.994797,6.782298,79.994797,Kahathuduwa,NaN
58345,5410000,53682,Hospital Road,Dehiwala,Land for Sale in Dehiwela Kalubowila,"Land for Sale in Dehiwela Kalubowila, 19.5p, P...",2023-01-03 08:45:00,...,Dehiwala,6.830119,79.880081,6.830119,79.880081,Dehiwala,4.0
58349,5446833,120689,Malabe,Malabe,Commercial Land For Sale,"Address: Kaduwela Main Road (New Kandy Road), ...",2023-03-12 02:49:00,...,Malabe,6.906079,79.969627,6.906079,79.969627,Malabe,8.0
58350,5447305,195582,madapatha,Piliyandala,Land for Sale in Kahapola-Piliyandala,Valuable Land situated at the Kahapola junctio...,2023-03-12 09:29:00,...,Piliyandala,6.801757,79.922729,6.801757,79.922729,Piliyandala,7.0
58351,5520807,3905,Anganpitiya Road,Ethul Kotte,70 perch land sale kotte,70 P Land for SALE in Ethukotte ( sri jayawarr...,2023-07-29 09:10:00,...,Ethul Kotte,6.891483,79.905273,6.891483,79.905273,Ethul Kotte,61.0

In [338]:
output_csv_path = '../Dataset/New_Data/4_bare_land_no_null.csv' 
bare_land_no_null.to_csv(output_csv_path, index=False)

In [339]:
# df = bare_land_df_na_dropped_cleaned_dp_dropped

# # Function to find the most similar city and its similarity score
# def find_most_similar_city(city, city_list):
#     most_similar_city = None
#     max_similarity = 0

#     city = city.strip().lower()

#     for known_city in city_list:
#         known_city = known_city.strip().lower()

#         if city.startswith("colombo ") and known_city.startswith("colombo "):
#             city_numeric = ''.join(filter(str.isdigit, city))
#             known_city_numeric = ''.join(filter(str.isdigit, known_city))
#             similarity = fuzz.ratio(city_numeric, known_city_numeric)
#         else:
#             similarity = fuzz.ratio(city, known_city)
        
#         if similarity > max_similarity:
#             max_similarity = similarity
#             most_similar_city = known_city
    
#     return most_similar_city, max_similarity

# clusters = {}

# for index, row in df.iterrows():
#     city = row['city']
    
#     found_cluster = False
#     for cluster_key, cluster_value in clusters.items():
#         most_similar_city, similarity = find_most_similar_city(city, cluster_value)
#         if similarity >= 90:  
#             clusters[cluster_key].append(city)
#             found_cluster = True
#             break
    
#     if not found_cluster:
#         clusters[city] = [city]

# # Create a mapping of city to its representative name 
# city_mapping = {city: cluster[0] for cluster in clusters.values() for city in cluster}

# df.loc[:, 'standardized_city'] = df['city'].map(city_mapping)

In [340]:
pd.set_option("display.max_rows", 10)

city_replaced_df = df
city_replaced_df

,ad_id,UID,street,city,heading,desc,posted_date,...,alt_name,city_lat,city_lon,g_city_lat,g_city_lon,main_city,main_city_id
0,232745,71194,Fussels lane,Colombo 6,Ideal plot of land in Colombo 06,The perfect plot of land for your residence in...,2018-01-19 18:48:36,...,Wellawatte / Pamankada,6.874691,79.860748,6.874691,79.860748,Colombo 6,0.0
1,237182,29192,Highlevel Rd.,Nugegoda,Excellent Block Of 69 Perches Facing Highlevel...,This Valuable Block is Located Next to Prime L...,2018-02-23 00:33:49,...,NaN,6.864908,79.899681,6.864908,79.899681,Nugegoda,1.0
2,245752,71194,Karshue Avenue,Colombo 8,6 perch land at Borella for sale,The perfect location to build your dream home ...,2018-05-08 13:44:47,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo 8,0.0
3,251172,17540,NaN,Battaramulla,56.7P Land Directly Overlooking Parliment Grou...,?Our Reference No. SL 8551<br />\n<br />\n(Ple...,2018-06-25 10:26:07,...,NaN,6.898378,79.922256,6.897994,79.922287,Battaramulla,54.0
4,253432,71194,Cotta Road,Colombo 8,Land for sale in Borella,The perfect plot of land for your business or ...,2018-07-12 14:46:55,...,Borella,6.914720,79.877800,6.912180,79.882881,Colombo 8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58344,5528437,193404,NaN,Kahathuduwa,Land For Sale In Near To Kahathuduwa,?120 ප්‍රධාන බස් පාරගයට මීටර 30ක දුරකි..<br />...,2023-08-10 08:50:00,...,NaN,6.782298,79.994797,6.782298,79.994797,Kahathuduwa,NaN
58345,5410000,53682,Hospital Road,Dehiwala,Land for Sale in Dehiwela Kalubowila,"Land for Sale in Dehiwela Kalubowila, 19.5p, P...",2023-01-03 08:45:00,...,Dehiwela,6.830119,79.880081,6.830119,79.880081,Dehiwala,4.0
58349,5446833,120689,Malabe,Malabe,Commercial Land For Sale,"Address: Kaduwela Main Road (New Kandy Road), ...",2023-03-12 02:49:00,...,Malambe,6.906079,79.969627,6.906079,79.969627,Malabe,8.0
58350,5447305,195582,madapatha,Piliyandala,Land for Sale in Kahapola-Piliyandala,Valuable Land situated at the Kahapola junctio...,2023-03-12 09:29:00,...,NaN,6.801757,79.922729,6.801757,79.922729,Piliyandala,7.0
58351,5520807,3905,Anganpitiya Road,Ethul Kotte,70 perch land sale kotte,70 P Land for SALE in Ethukotte ( sri jayawarr...,2023-07-29 09:10:00,...,Etul Kotte / Kotte,6.891483,79.905273,6.891483,79.905273,Ethul Kotte,61.0

In [341]:
# df2 = city_replaced_df  

# # Function to preprocess and find the most similar street 
# def preprocess_and_find_most_similar_street(street, street_list):
#     max_similarity = 0
#     most_similar_street = None
#     for known_street in street_list:
#         # Remove variations of "Road" using regular expressions 
#         street_str = re.sub(r'(?i)(rd|road)', '', str(street)).strip().lower()
#         known_street_str = re.sub(r'(?i)(rd|road)', '', str(known_street)).strip().lower()
#         similarity = fuzz.ratio(street_str, known_street_str)
#         if similarity > max_similarity:
#             max_similarity = similarity
#             most_similar_street = known_street
#     return most_similar_street, max_similarity

# clusters = {}

# for index, row in df2.iterrows():
#     street = row['street']
    
#     # Find the most similar street in existing clusters
#     found_cluster = False
#     for cluster_key, cluster_value in clusters.items():
#         most_similar_street, similarity = preprocess_and_find_most_similar_street(street, cluster_value)
#         if similarity >= 90:  
#             clusters[cluster_key].append(street)
#             found_cluster = True
#             break
    
#     if not found_cluster:
#         clusters[street] = [street]

# street_mapping = {street: cluster[0] for cluster in clusters.values() for street in cluster}

# df2.loc[:, 'standardized_street'] = df2['street'].map(street_mapping)

In [342]:
# unique_names = city_replaced_df[['standardized_city', 'city']].drop_duplicates().reset_index(drop=True)

# unique_names_df = pd.DataFrame({'Unique_Standardized_city': unique_names['standardized_city'], 'Unique_city': unique_names['city']})

# pd.set_option('display.max_rows', None)
# unique_names_df

In [343]:
# city_replaced_df['main_city'].nunique()

In [344]:
# city_street_replaced_df['standardized_street'].nunique()

In [345]:
# output_csv_path = '../Dataset/New_Data/4_city_street_replaced_df.csv' 
# city_replaced_df.to_csv(output_csv_path, index=False)